/* -----------------------------------------------------------------------------
   Back to top
----------------------------------------------------------------------------- */

.back-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10;
}

.js .back-to-top {
  opacity: 0;
  filter:alpha(opacity=0);

  -webkit-transition: 1s;
     -moz-transition: 1s;
          transition: 1s;
}

.js .back-to-top-is-visible {
  opacity: 1;
  filter:alpha(opacity=100);
}

.back-to-top > a {
  display: block;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  opacity: 0.70;
  filter:alpha(opacity=70);

  -webkit-transition: 500ms;
     -moz-transition: 500ms;
          transition: 500ms;
}

.back-to-top > a:hover,
.back-to-top > a:focus,
.back-to-top > a:active {
  opacity: 1;
  filter:alpha(opacity=100);
}
