// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

/// Default list theme
///
/// @group theme
/// @example scss Usage
/// ul {
///   @include list--default;
/// }
@mixin list--default {
  margin: 1em 0;
  padding: 0;
  list-style: none;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}



/// Default list theme
///
/// @group theme
/// @example scss Usage
/// ul {
///   @include list;
/// }
@mixin list {
  @include list--default;
}

