// -----------------------------------------------------------------------------
// Media
// -----------------------------------------------------------------------------

/// Default media theme (image + text)
///
/// @group theme
/// @example scss Usage
/// .foo {
///   @include media;
/// }
@mixin media {
  @include clearfix;
  margin: 1em 0;
  clear: both;
}



/// Media-picture
///
/// @group theme
/// @example scss Usage
/// .foo {
///   @include media-pict;
/// }
@mixin media-pict {
  float: left;

  @include mq-to( 'sm' ) {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }

  a {
    display: block;

    img {
      display: block;
      margin: 0 auto;
    }

  }
}

