// -----------------------------------------------------------------------------
// Theme
// -----------------------------------------------------------------------------


// Fonts
$font: Arial, Helvetica, sans-serif;
$base-font-size: 12px;
$base-line-height: 1.5;


// Colors
$brand: #f00;
$brand-highlight: lighten($brand, 20%);
$second-color: #00f;
$text-color: #333;


// Based on Bootstrap reference
// http://getbootstrap.com/css/#responsive-utilities
$breakpoint-xs: 480px;  // Small phones
$breakpoint-sm: 768px;  // Small devices / Tablets
$breakpoint-md: 992px;  // Medium devices / Desktops
$breakpoint-lg: 1170px; // Large devices / Large desktops


// Compass Cross-Browser Support Configuration
$legacy-support-for-ie6:  false;
$legacy-support-for-ie7:  false;
$legacy-support-for-ie8:  true;


// Sprite map config
$main-sprite-base-class: '.sp';
$main-sprite-dimensions: true;
$main-layout: smart;


// Others
// $grid-margin: 15px;