<!DOCTYPE html>
<html lang="fr">
<head>

  <!-- Définir le mode de compatibilité Internet Explorer -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

  <meta charset="utf-8">

  <!-- Définir le niveau de zoom -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Layout</title>

  <link rel="stylesheet" href="video.css">

</head>

<body>

<div class="fullscreen-bg">
  <video loop autoplay poster="video.jpg" class="fullscreen-bg__video">
    <source src="video.mp4" type="video/mp4">
  </video>
</div>

</body>
</html>
