/* =============================================================================
   Radio
============================================================================= */

/*doc
---
title: Radio
name: form-radio
category: Formulaires
---
```html_example
<input type="radio" id="rad-1" name="rad" value="">
<label for="rad-1">Option 1</label>

<input type="radio" id="rad-2" name="rad" value="" checked>
<label for="rad-2">Option 2</label>

<input type="radio" id="rad-3" name="rad-3" value="" checked disabled>
<label for="rad-3">Désactivée</label>
```

Compatibilité : IE9+ (affichage standard pour <= IE8)

*/

input[type="radio"]:not(:checked),
input[type="radio"]:checked {

  // Hide standard input
  position: absolute;
  left: -9999px;

  // Label
  + label {
    position: relative;
    padding-left: $cb-label-padding-left;
    padding-top: 2px;

    // Box
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: $cb-box-size;
      height: $cb-box-size;
      border: $cb-box-border;
      background: $cb-box-bg;
      border-radius: 50%;
      @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 2px);
    }

    // Hover
    &:hover {

      &:before {
        background-color: $cb-box-bg-hover;
      }

      &:after {
        background-color: $cb-check-bg-hover;
      }

    }


    // Check
    &:after {
      content: '';
      position: absolute;
      width: $cb-check-size;
      height: $cb-check-size;
      top: 2px;
      left: 2px;
      color: $cb-check-color;
      background: $cb-check-bg;
      border-radius: 50%;
    }

  }


  // Focus
  &:focus {

    + label {

      &:before {
        background-color:$cb-box-bg-hover;
      }

      &:after {
        background-color: $cb-check-bg-hover;
      }
    }

  }


}



// Not checked
input[type="radio"]:not(:checked) + label:after {
  display: none;
}

// Checked
input[type="radio"]:checked + label:after {
  display: block;
}

// Disabled
input[type="radio"][disabled]:not(:checked),
input[type="radio"][disabled]:checked {

  + label {
    color: $cb-label-disabled;

    &:before {
      background-color: $cb-box-bg-disabled;
    }

    &:after {
      color: $cb-check-color-disabled;
      background-color: $cb-check-bg-disabled;
    }
  }

}
