/* =============================================================================
   Form text
============================================================================= */

/*doc
---
title: Zone de saisie
name: form-text
category: Formulaires
---
```html_example
<label for="text">Label</label>
<input type="text" id="text" value="" class="form-input" placeholder="Aide à la saisie">
```
*/

/*doc
---
title: Textarea
name: form-textarea
category: Formulaires
---
```html_example
<label for="textarea">Label</label>
<textarea cols="60" rows="5" id="textarea" class="form-input" placeholder="Aide à la saisie"></textarea>
```
*/

.form-input {
  padding: $form-field-padding;
  border: $form-border;
  width: 100%;
  color: $base-color;
  border-radius: $form-border-radius;
}



