@charset "UTF-8";

/* -----------------------------------------------------------------------------
   Card

   http://thewebrocks.com/demos/3D-css-tester/
----------------------------------------------------------------------------- */


.card-wrapper {
	-webkit-perspective: 500;
	-webkit-perspective-origin-x: 0%;
	-webkit-perspective-origin-y: 50%;
}

.card {
	position: relative;
	width: 200px;
	height: 200px;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card-flip {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card-face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;


	  -webkit-border-radius: 5px;
	     -moz-border-radius: 5px;
	          border-radius: 5px;
}

.card-front {
	background: #770000;
	color: #fff;
	z-index: 1;
	text-align: left;
}

.card-back {
	text-align: right;
	background: lightgreen;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card-inner {
	padding: 1em;
}
