<!DOCTYPE HTML>
<html lang="fr">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">

	<title>Effet "Flip"</title>

	<link rel="stylesheet" media="all" href="flip.css" />

</head>

<body>

<h2>Effet &laquo;&nbsp;Carte&nbsp;&raquo;</h2>

<div class="card-wrapper">
<div id="card-1" class="card">

	<div class="card-face card-front">
		<div class="card-inner">

			<h2>:o(</h2>
			<button type="button" class="btn" data-card-trigger="card-1">Retourner !</button>

		</div>
	</div>

	<div class="card-face card-back">
		<div class="card-inner">

			<h2>:o)</h2>
			<button type="button" class="btn" data-card-trigger="card-1">Retourner !</button>

		</div>
	</div>

</div><!--/card-->
</div><!--/card-wrapper-->


<!-- Scripts : Placés en fin de page pour de meilleures performances -->
<script src="../../assets/js/lib/jquery.min.js"></script>
<script src="flip.js"></script>

</body>
</html>