/* =============================================================================
   External link
============================================================================= */

a[target="_blank"],
.external-link {

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    //@include sprites-sprite("external");
  }

}
