/* =============================================================================
   Grid
============================================================================= */

@import '../../../node_modules/susy/sass/_susy.scss'; // Grid system


/// Susy configuration map
///
/// @link http://susydocs.oddbird.net/en/latest/settings/ Susy settings
/// @group layout
/// @example scss - Usage
///   @include container;
///   @include span(5 of 12);
///   @include span(7 of 12 last);
///   @include layout($susy--no-gutter);
///
/// @example scss - 1/3 - 2/3
/// .foo-container {
///   @include container;
///
///   > .grid-item {
///     @include span(4 of 12);
///
///     +  .grid-item {
///       @include span(8 of 12 last);
///     }
///   }
///
/// }
///
/// @example scss - Overriding config
///   $override: (gutters: 0);
///   @include span($override $col-count-12 of 12);
$susy: (
  columns: 12,
  global-box-sizing: border-box,
  gutters: 1/4,
  last-flow: to,
  use-custom: (
    box-sizing: false
  )
);



/// Make equal size columns
///
/// @param {Int} $col-count [2] - Column count
/// @param {Map} $override [''] - Specifics suzy settings
///
/// @group layout
///
/// @example scss - 2 columns
/// .row {
///   @include grid-equal-cols;
/// }
///
/// @example scss - 4 columns
/// .row {
///   @include grid-equal-cols(4);
/// }
@mixin grid-equal-cols($col-count: 2, $override: '') {
  @include container;

  $col-count-12: 12 / $col-count;

  > * {
    @include span($override $col-count-12 of 12);

    &:nth-child(#{$col-count}n) {
      @include span($override $col-count-12 of 12 last);
    }

  }

}




/// Make equal size column for spécifics screen sizes
/// @param {Int} $col-count [2] - Column count default : 2
/// @param {String} $breakpoint-from ['md'] - Start breakpoint
/// @param {String} $breakpoint-to [''] - End breakpoint
/// @param {Map} $override [''] - Specifics suzy settings
///
/// @example scss - Usage
/// .row {
///   @include grid-equal-cols-rwd(4, 'md', 'lg');
///   @include grid-equal-cols-rwd(2, 'sm', 'md');
///   @include grid-equal-cols-rwd(1, '0', 'xs');
/// }
@mixin grid-equal-cols-rwd($col-count: 2, $breakpoint-from: 'sm', $breakpoint-to: 'md', $override: '') {

  @include mq-from-to( $breakpoint-from, $breakpoint-to ) {
    @include grid-equal-cols($col-count, $override);
  }

}
