/* =============================================================================
   Helpers
============================================================================= */

/* -----------------------------------------------------------------------------
   Display
----------------------------------------------------------------------------- */

.is-hidden { display: none !important; }

.visually-hidden {
  @include hide-text;
}



/* -----------------------------------------------------------------------------
   Visibility
----------------------------------------------------------------------------- */

.visible-xs { display: none !important; }
.visible-sm { display: none !important; }
.hidden-md { display: none !important; }
.visible-md { display: inherit !important; }

@include mq-from-to( 'sm', 'md' ) {
  .hidden-md { display: inherit !important; }
  .visible-md { display: none !important; }
  .visible-sm { display: inherit !important; }
  .hidden-sm { display: none !important; }
}

@include mq-to( 'sm' ) {
  .hidden-md { display: inherit !important; }
  .visible-md { display: none !important; }
  .visible-xs { display: inherit !important; }
  .hidden-xs { display: none !important; }
}



/* -----------------------------------------------------------------------------
   Alignments
----------------------------------------------------------------------------- */

// Horizontal
.align-left    { text-align: left !important; }
.align-right   { text-align: right !important; }
.align-center  { text-align: center !important; }

// Vertical
.valign-top    { vertical-align: top !important; }
.valign-middle { vertical-align: middle !important; }
.valign-bottom { vertical-align: bottom !important; }

// Floats
.align-start   { float: left; }
.align-end     { float: right; }
.align-clear   { clear: both; }


