// -----------------------------------------------------------------------------
// Hover
// -----------------------------------------------------------------------------

/// Add hover/focus style
///
/// @group utils
///
/// @example scss - Usage
/// a {
///   @include hover {
///     [....]
///   }
/// }
@mixin hover() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}


/// Add Focus style
///
/// @group utils
///
/// @example scss - Usage
/// a {
///   @include focus {
///     [....]
///   }
/// }
@mixin focus() {
  &:focus,
  &:active {
    @content;
  }
}





/// Links underlined
/// @group utils
///
/// @example scss - Usage
/// a {
///   @include underline;
/// }
@mixin underline {
  text-decoration: underline;

  @include hover {
    text-decoration: none;
  }

}



/// Links underlined on hover/focus/active states
/// @group utils
///
/// @example scss - Usage
/// a {
///   @include underlineOnHover;
/// }
@mixin underlineOnHover {
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }
}
