<!DOCTYPE html>
<!--[if lte IE 7]><html lang="fr" class="ie7 lte-ie8"><![endif]-->
<!--[if IE 8]><html lang="fr" class="ie8 lte-ie8"><![endif]-->
<!--[if IE 9]><html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

  <title>Styleguide <%= title %></title>
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/css/print.css" media="print" />

  <!--Google Font Open Sans-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700">

  <!--Styleguide CSS-->
  <link rel="stylesheet" href="styleguide.css" />

  <!-- Modernizr http://modernizr.com/docs/#installing -->
  <script src="../assets/js/lib/modernizr.js"></script>

</head>
<body>

<div class="sg-wrapper">

  <a href="../index.html" class="sg-btn sg-btn-back">&lt;&nbsp;Index</a>

  <h1 class="sg-title">Style<b>guide</b></h1>

    <nav class="sg-nav">
      <ul>
      <% @categories.each do |category, file_name| %>
        <li><a href="<%= file_name %>"><%= category %></a></li>
      <% end %>
      </ul>
    </nav>

    <div class="sg-main">

      <h2 class="sg-title"><%= title %></h2>

      <section class="sg-content">
        <nav class="sg-nav-2">
          <ul>
          <% @blocks.each do |b| %>
            <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
          <% end %>
          </ul>
        </nav>
