<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Login</title>
</head>

<body>

  <div class="form--sign-in">
    <form action="#" method="post">

      <div class="form__row">
        <label for="login">Identifiant</label>
        <input type="text" value="" name="login" id="login" aria-required="true" />
      </div>

      <div class="form__row">
        <label for="pwd">Mot de passe</label>
        <input type="password" value="" name="pwd" id="pwd" aria-required="true" />
      </div>

      <div class="form__row">
        <input type="checkbox" name="remember-me" id="remember-me" />
        <label for="remember-me">Se souvenir de moi</label>
      </div>

      <div class="form__row">
        <a href="#" class="forgot-pwd">Mot de passe oublié ?</a>
      </div>

      <div class="btn-group">
        <a href="#">S'inscrire</a>
        <input type="submit" class="btn" value="Se connecter" />
      </div>

    </form>
  </div><!--/sign-in-->

</body>
</html>
