<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Search</title>
</head>

<body>

<div class="search" role="search">
  <form action="#" method="post">

    <div>
      <label for="search">Rechercher</label>
      <input type="text" name="search" id="search" placeholder="Mots-clés" value="" />
      <button type="submit" title="Lancer la recherche" aria-label="Lancer la recherche">Ok</button>
    </div>

    <!--
      A11y: Ok n'est pas assez explicite, préférer "Rechercher", sinon, utiliser
      "aria-label" pour améliorer le libellé.
    -->

  </form>
</div><!--/form-search-->

</body>
</html>
