@charset 'utf-8';


@mixin tag {
  font-family: monospace;
  background-color: #eee;
  display: block;
  color: #555;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
  border-radius: 3px;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: #f4f4f4;
  }
}

@mixin tags-list {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2.6;

  > li {
    display: inline-block;
    vertical-align: middle;
  }

  a,
  span {
    @include tag;
  }
}



/* =============================================================================
   Global
============================================================================= */

body {
  background: #fff;
}

.sg-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.sg-main {
  overflow: hidden;
}



/* =============================================================================
   Header
============================================================================= */

.sg-btn {
  display: inline-block;
  color: #aaa;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px 5px;
  margin-bottom: 10px;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
    text-decoration: none;
  }
}

.sg-btn-back {
  margin: 10px 0 0;
}



/* =============================================================================
   Nav
============================================================================= */

.sg-nav {
  float: left;
  width: 200px;
  margin-right: 1em;

  & > ul:first-child,
  .sg-nav__menu {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;

    li {
      display: block;
      border-bottom: 1px solid #f4f4f4;

      &:first-child {

        &:before {
          display: none;
        }
      }
    }

    a:link,
    a:visited {
      display: block;
      color: #000;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      background: #fff;
      padding: 5px 10px;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      background: #fafafa;
    }
  }

}



/* =============================================================================
   Components list
============================================================================= */

.sg-components-title {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  margin-right: 20px;
  margin: 0 20px 0 0;
  font-size: 1.6rem;
}

.sg-components-list {
  margin-bottom: 20px;

  > ul {
    @include tags-list;
  }
}

.sg-component {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0 0 20px;
}


/* =============================================================================
   Colors
============================================================================= */

.aigis-colorPalette {
  margin-bottom: 5px;
}

.aigis-colorPalette__color {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 20px;
  margin-right: 10px;
}

.aigis-colorPalette__label {
  display: inline-block;
  vertical-align: middle;
}


/* =============================================================================
   Tags
============================================================================= */

.sg-tags {
  @include tags-list;
}

.sg-tags__item--Modificateur {
  background-color: #f3f3ff;
  color: #5a94eb;
}



/* =============================================================================
   Titles
============================================================================= */

h1.sg-title {
  font-weight: normal;
  color: #000;
  font-size: 36px;
}

h3.sg-title {
  background: #ddd;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
  font-weight: 300;
  padding: 10px 20px;
  margin: -20px -20px 20px;
  clear: both;
}

.sg-filepath {
  float: right;
  text-align: right;
  color: #777;
  font-style: italic;
  margin-bottom: 10px;
}



/* =============================================================================
   Documentation
============================================================================= */

.sg-doc {
  overflow: hidden;
  margin: 0;

  p:last-child {
    display: none;
  }
}

.sg-preview {
  margin: 10px 0;
}



/* =============================================================================
   Examples
============================================================================= */

pre {
  color: #fff;
  background: #333;
  border-radius: 2px;
  margin: 5px 0;
  padding: 10px;
  font-size: 1.2em;
}
