// =============================================================================
// Colors
// =============================================================================

/*doc
---
title: Couleurs
name: 1-colors
category: Couleurs
---


```color_example
#0066ff
```
```colorname_example
$brand
```


```color_example
#0088ff
```
```colorname_example
$brand-highlight
```

*/


$red: #ff4444;

$blue: #0066ff;
$blue-light: tint($blue, 20%);
$blue-dark: shade($blue, 20%);

$grey: #333;
//$green: #00ff00;
//$orange: #ff6600;



/*doc
---
title: Gris
name: 2-colors-greys
category: Couleurs
---

```color_example
#ccc
```
```colorname_example
$grey-1
```


```color_example
#aaa
```
```colorname_example
$grey-2
```

```color_example
#aaa
```
```colorname_example
$grey-3
```

```color_example
#eee
```
```colorname_example
$grey-4
```

*/

$grey-1: #ccc;
$grey-2: #aaa;
$grey-3: #ddd;
$grey-4: #eee;








$brand: $blue; // Brand's color
$brand-highlight: tint($brand, 20%);

$base-color: $grey; // Text






/*doc
---
title: Erreur
name: 3-colors-error
category: Couleurs
---

```color_example
#ff4444
```
```colorname_example
$error-color
```

*/

$error-color: $red;

