
/* -----------------------------------------------------------------------------
   Hologram -- Fonts
----------------------------------------------------------------------------- */

// Styleguide
@each $font-name in 'Arial', 'Open sans' {
  .font-#{$font-name} { font-family: $font-name; }
}


/*doc
---
title: Arial
name: font-1
category: Fonts
---
```font_example
  <span class="font-arial">font-family: Arial, Helvetica, sans-serif</span>
```
*/


/*doc
---
title: Open sans
name: font-2
category: Fonts
---
```font_example
  <span class="font-open-sans">font-family: 'Open sans', Arial, Helvetica, sans-serif</span>
```
*/
