// =============================================================================
// Variables
// =============================================================================


/// Offset width (ex: Labels width)
$offset-width: 150px;


// Spacing
$spacing-default: 15px;
$spacing-lg: 20px;
$spacing-md: 15px;
$spacing-sm: 10px;
$spacing-xs: 5px;

