/* =============================================================================
   Block
============================================================================= */

/*doc
---
title: Bloc fond grisé
name: bloc-grey
category: Blocs
---
```html_example
<div class="block-style-1">
  Lorem ipsum
</div><!--/block-style-1-->
```
*/

.block-style-1 {

}
