/* =============================================================================
   Breadcrumb
============================================================================= */


/*doc
---
title: Fil d'Ariane
name: nav-breadcrumb
category: Navigation
---
```html_example
<ul class="breadcrumb">
  <li><a href="#">Accueil</a></li>
  <li><span class="breadcrumb-current">Page courante</span></li>
</ul>
```
*/

.breadcrumb {
  @include reset-list;
  margin: 0;

  li {
    display: inline;

    + li:before {
      display: inline;
      content: ' / ';
      font-weight: normal;
    }
  }

  a {
    @include underline;
  }
}

  .breadcrumb-current {
    font-weight: bold;
  }

