/* =============================================================================
   Button
============================================================================= */

%btn-default {
  @include reset-box-model;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
  @include transition(all 300ms);

  @include hover {
    text-decoration: none;
  }

}


/*doc
---
title: Style 1
name: 1-btn-1
category: Boutons
---
```html_example
<a href="#" class="btn">Link</a>
<input type="submit" value="Submit" class="btn">
<button type="button" class="btn">Button</button>
```
*/

.btn {
  //@extend %btn-default;

  @include hover {

  }
}



/*doc
---
title: Style 2
name: 2-btn-2
category: Boutons
---
```html_example
<a href="#" class="btn-2">Link</a>
<input type="submit" value="Submit" class="btn-2">
<button type="button" class="btn-2">Button</button>
```
*/

.btn-2 {

  @include hover {

  }
}





/* -----------------------------------------------------------------------------
   Helpers
----------------------------------------------------------------------------- */

/*doc
---
title: Pleine largeur
name: 3-btn-wide
category: Boutons
---
```html_example
<a href="#" class="btn btn-wide">Button</a>
```
*/

@mixin btn-wide {
  display: block;
  width: 100%;
  float: none;
}

.btn-wide {
  @include btn-wide;
}



/*doc
---
title: Large
name: 4-btn-large
category: Boutons
---
```html_example
<a href="#" class="btn btn-large">Button</a>
```
*/

.btn-large {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*doc
---
title: Big
name: 5-btn-bigger
category: Boutons
---
```html_example
<a href="#" class="btn btn-bigger">Button</a>
```
*/

@mixin btn-bigger {
 padding: 15px 25px;
}

.btn-bigger {
  @include btn-bigger;
}



/*doc
---
title: Small
name: 6-btn-small
category: Boutons
---
```html_example
<a href="#" class="btn btn-small">Button</a>
```
*/

@mixin btn-small {
  padding: 2px 5px;
  font-size: em(12px);
}

.btn-small {
  @include btn-small;
}



/* -----------------------------------------------------------------------------
   Wrapper
----------------------------------------------------------------------------- */

.btn-wrapper {
  position: relative;
}

