/* =============================================================================
   Button
============================================================================= */

.btn {
  @include reset-box-model;
  position: relative;
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.btn-style-2 {
}





/* -----------------------------------------------------------------------------
   Helpers
----------------------------------------------------------------------------- */

.btn-wide {
  width: 100%;
}

.btn-large {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-bigger {
  padding: 15px 20px;
}

.btn-small {
  padding: 2px 5px;
  font-size: 12px;
}

.btn-wrapper {
  position: relative;
}

