/* =============================================================================
   Links
============================================================================= */


/* -----------------------------------------------------------------------------
   Default link's style
----------------------------------------------------------------------------- */

a {
  color: $base-color;
  @include underlineOnHover;

  &:focus img {
    outline: 2px dashed $brand;
  }
}



/* -----------------------------------------------------------------------------
   Cliquable area
----------------------------------------------------------------------------- */

.global-link {
  cursor: pointer;
}





/* -----------------------------------------------------------------------------
   More
----------------------------------------------------------------------------- */

.more-wrapper {
  clear: both;
  padding: 10px 0;
}

  .more {
    @include underline;
    //background: image-url('arrow-e-more.png') right center no-repeat;
    font-weight: bold;
    padding: 2px 25px 2px 0;
    border: none;
  }
