/* =============================================================================
   Skip links
============================================================================= */

#skip-links {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  height: 0;

  @include mq-until( $breakpoint-sm ) {
    display: none;
  }

  li {
     display: inline;
     background: none;
     padding: 0;
     margin-right: 0.5em;
  }

    a {
      position: absolute; top: 0; left: -9999em;
      background-color: #fff;
      padding: 0.5em;
      white-space: nowrap;

      @include focus {
        left: 0;
      }
    }
}

// Highlight skiplinks destinations
.target {
  outline: 2px dashed $brand;
  overflow: hidden;
}
