/* =============================================================================
   Toggle menu
============================================================================= */

// toggle-widget-slide

.toggle-widget {
  position: relative;
  text-align: left;
}

  // Button
  .toggle-widget-trigger {
    overflow: visible;
  }

  // Panel
  .toggle-widget-panel {
    background: #fff;
    z-index: 999;
    color: $base-color;

    .toggle-widget-nojs-inline & {
      display: inline;
    }

    .js & {
      display: none;
      position: absolute;
      top: 100%;
    }

    .toggle-widget-active & {
      display: block;
    }

    .toggle-widget-slide & {
      position: static;
      top: auto;
      display: inherit;
    }

  }
