// -----------------------------------------------------------------------------
// Clearfix
// -----------------------------------------------------------------------------

/// Clearfix helper for clearing floats
///
/// @link http://nicolasgallagher.com/micro-clearfix-hack Adapted from: A new micro clearfix hack
/// @group layout
/// @example scss Usage
/// div {
///   @include clearfix;
/// }
@mixin clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}
