// -----------------------------------------------------------------------------
// Display
// -----------------------------------------------------------------------------

/// Hidden except for screen-readers
///
/// @group utils
/// @link https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html Yahoo! method
///
/// @example scss - Usage
/// span {
///   @include hide-text;
/// }
@mixin hide-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}



/// Delete margin of text
/// @group utils
///
/// @example scss - Usage
/// .text {
///   @include text-wrap;
/// }
@mixin text-wrap {

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

}



/// Spread block to window's edge
@mixin full-width {

  @include mq-from( 'lg' ) {
    position: relative;
    width: 99.5vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
  }
}


// Maintain ratio of iframes / objects...
//
// @param {Int} $ratio [9/16] - Ratio 16/9
//
// .foo {
//   @include ratio-wrap(3/4);
// }
@mixin ratio-wrap($ratio: 9/16) {
  position: relative;
  padding-bottom: $ratio * 100%;
  height: 0;

  object,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
