// -----------------------------------------------------------------------------
// Display
// -----------------------------------------------------------------------------

/// Hidden except for screen-readers
///
/// @group utils
/// @link https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html Yahoo! method
///
/// @example scss - Usage
/// span {
///   @include hide-text;
/// }
@mixin hide-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}



/// Delete margin of text
/// @group utils
///
/// @example scss - Usage
/// .text {
///   @include text-wrap;
/// }
@mixin text-wrap {

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

}
