// -----------------------------------------------------------------------------
// Hover
// -----------------------------------------------------------------------------

// Add hover/focus style
//
// a {
//   @include hover {
//     [....]
//   }
// }
@mixin hover() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}


// Add Focus style
//
// a {
//   @include focus {
//     [....]
//   }
// }
@mixin focus() {
  &:focus,
  &:active {
    @content;
  }
}


// Links underlined
//
// a {
//   @include underline;
// }
@mixin underline {
  text-decoration: underline;

  @include hover {
    text-decoration: none;
  }

}


// Links underlined on hover/focus/active states
//
// a {
//   @include underlineOnHover;
// }
@mixin underlineOnHover {
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }
}
