// -----------------------------------------------------------------------------
// Reset
// -----------------------------------------------------------------------------


/// Resets margins / borders / paddings
///
/// @group utils
/// @example scss - Usage
/// button {
///   @include reset-box-model;
/// }
@mixin reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}



/// Reset list's default styles
///
/// @group utils
/// @example scss - Usage
/// ul {
///   @include reset-list;
/// }
@mixin reset-list {
  list-style: none;
  @include reset-box-model;
}
