
<div class="sg-color-wrapper">
  <span class="sg-color" style="background: <%= rendered_example %>;"></span>
  <span class="sg-color-code"><%= rendered_example %></span>
  <span class="sg-color-name"></span>

