// -----------------------------------------------------------------------------
// Forms layout
// -----------------------------------------------------------------------------


/* -----------------------------------------------------------------------------
   Rows
----------------------------------------------------------------------------- */

@mixin form__row {
  position: relative;
  clear: left;
  margin-bottom: 15px;
}

.form__row { @include form__row; }


@mixin form__row--inline {

  input {
    display: inline-block;
    width: auto;
  }
}

.form__row--inline { @include form__row--inline; }


/* -----------------------------------------------------------------------------
   Labels
----------------------------------------------------------------------------- */

// Label above.
@mixin label--block {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  margin-bottom: 5px;
}

.label--block { @include label--block; }


// Label inline.
@mixin label--inline {
  display: inline-block;
  float: none;
  text-align: left;
  width: auto;
  line-height: 1.5;
}

.label--inline { @include label--inline; }

/* -----------------------------------------------------------------------------
   Fieldset
----------------------------------------------------------------------------- */

@mixin fieldset {
  @include reset-box-model;
  border: 1px solid $inputs-borders;
  padding: 10px;

  legend {
    padding: 0 10px;
  }
}

.fieldset--off {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;

  legend {
    display: none;
  }
}

.fieldset {
  @include fieldset;
}

/* -----------------------------------------------------------------------------
   Helpers
----------------------------------------------------------------------------- */

// 100% width field.
@mixin input--wide {
  display: block;
  width: 100%;
}

.input--wide { @include input--wide; }


@mixin input--inline {
  display: inline-block;
  width: auto;
}

.input--inline { @include input--inline; }
