// -----------------------------------------------------------------------------
// Form text
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Placeholder
// -----------------------------------------------------------------------------

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


// -----------------------------------------------------------------------------
// Theme
// -----------------------------------------------------------------------------

// Inputs theme
@mixin input {
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  padding: 5px 10px;
  border: 1px solid $inputs-borders;
  border-radius: 0;
  color: $base-color;

  @include input-placeholder {
    opacity: 1;
    font-style: italic;
  }
}

.input--text { @include input; }


/// Textarea theme
@mixin textarea {
  @include input;
  min-height: 5em;
  overflow: auto; // Removes vertical scrollbar on empty textarea in IE6/7/8/9.
  vertical-align: top;
  resize: vertical;
}

.input--textarea { @include textarea; }
