// =============================================================================
//   Breakpoints
// =============================================================================

// Based on Bootstrap reference
// http://getbootstrap.com/css/#responsive-utilities
$breakpoint-xs: 480px;  // Small phones
$breakpoint-sm: 768px;  // Small devices / Tablets
$breakpoint-md: 992px;  // Medium devices / Desktops
$breakpoint-lg: 1170px; // Large devices / Large desktops
