// =============================================================================
//   Sprites
// =============================================================================

// Compass spriting configuration :
// http://compass-style.org/help/tutorials/spriting/

// Sprite map config
$sprites-sprite-base-class: '.sp';
$sprites-sprite-dimensions: true;
$sprites-layout: smart;
$sprites-sort-by: width;

// Get sprites
//@import "sprites/*.png";
//@include all-sprites-sprites;


// Usage for "icon-plus.png"
//
// - Generated class : ".sprites-icon-plus"
//
// .btn-icon-plus {
//   @include sprites-sprite('icon-plus');
//   width: sprites-sprite-width('icon-plus');
// }



/* -----------------------------------------------------------------------------
   Mixins
----------------------------------------------------------------------------- */

// Align a sprite in the middle of his container
@mixin spriteAlignMiddle($sprite-name) {
  position: absolute;
  @include sprites-sprite($sprite-name);

  $x-offset: sprites-sprite-width($sprite-name)/2;
  $y-offset: sprites-sprite-height($sprite-name)/2;

  left: calc(50% - #{$x-offset});
  top: calc(50% - #{$y-offset});
}



// Align a sprite in the middle of his virtual container
@mixin spriteAlign($sprite-name, $x-offset, $y-offset, $direction: "right") {
  @include sprites-sprite($sprite-name);
  position: absolute;
  margin: 0 auto;

  @if $direction == "right" {
    right: $x-offset - sprites-sprite-width($sprite-name)/2;
  }
  @else {
    left: $x-offset - sprites-sprite-width($sprite-name)/2;
  }
  top: $y-offset - sprites-sprite-height($sprite-name)/2;
}


