// =============================================================================
// Theme
// =============================================================================

@import "theme/fonts";
@import "theme/colors";
@import "theme/interactions";
@import "theme/box-sizing";
@import "theme/breakpoints";
@import "theme/sprites";


/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */

body {
  background: #fff;
  margin: 0;
}


/* -----------------------------------------------------------------------------
   Variables
----------------------------------------------------------------------------- */

$offset-width: 150px; // Labels width


// Spacing
$spacing-default: 1em;
$spacing-lg: 20px;
$spacing-md: 10px;
$spacing-sm: 5px;
