
/* = Styles de bases = */

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
textarea {
	width: 250px;
	border: 1px solid #CFD0D2;
	padding: 2px 2px;
	margin: 0;
	font-size: 1em;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #3D3D3D;

	  -webkit-border-radius: 2px;
	     -moz-border-radius: 2px;
	          border-radius: 2px;
	  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 13px;
	height: 13px;
}

fieldset { padding: 1em; }
legend { margin-left: 1em; }
select { font-size: 1em; vertical-align: middle; }
textarea { resize: vertical; }
button::-moz-focus-inner { border: 0; padding: 0; }

input::-webkit-input-placeholder {}
input::-moz-placeholder { opacity: 1; }
.placeholder {}

