@mixin admin-tabs {
  will-change: transform;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.5rem;

  @include mq-to('md') {
    display: none;
  }

  ul {
    background: rgba(#f0f0f0, 0.3);
    padding: 10px;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 0;
      background: none;
    }

    a {
      @include admin-link;
    }

    .is-active {
      background: $brand;
      border-color: $brand;
      color: #fff;

      a {
        background: none;
        color: #fff;
        border: none;

        @include hover {
          background: none;
          color: #fff;
          border: none;
        }

      }

    }

  }

}


// Admin links
@mixin admin-link {
  display: block;
  background-color: $light-bg;
  padding: 3px 10px;
  color: #333;
  text-decoration: none;
  border-radius: 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;

  @include hover {
    background: #333;
    color: #fff;
    text-decoration: none;
  }

}
