// -----------------------------------------------------------------------------
// Links & Buttons
// -----------------------------------------------------------------------------

/*
S'applique pour sur nouveaux styles de bouton, permet d'appliquer les réglages
de base.

```sass
@include btn-default;
```
*/
@mixin btn--default {
  @include reset-box-model;
  //-webkit-appearance: button; // Clickable input types in iOS
  overflow: visible; // Corrects inner spacing displayed oddly in IE7
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;

  @include hover {
    text-decoration: none;
  }

}



// -----------------------------------------------------------------------------
// Helpers
// -----------------------------------------------------------------------------

/*
---
name: Modificateurs de boutons
category: Boutons et liens
tag:
  - Modificateur
  - a
  - button
  - input
---

Ajouter ces style pour obtenir des variantes de bouton.

- **wide** : 100% de son conteneur
- **large** : Plus gros
- **small** : Plus petit

```html
<a href="#" class="btn btn--wide">Bouton large</a>
<a href="#" class="btn btn--large">Bouton plus gros</a>
<a href="#" class="btn btn--small">Bouton plus petit</a>
```

```sass
@include btn--wide;
@include btn--large;
@include btn--small;
```
*/
@mixin btn--wide {
  display: block;
  width: 100%;
  float: none;
}

@mixin btn--large {
  padding: 15px 25px;
}

@mixin btn--small {
  padding: 2px 5px;
  font-size: em(12px);
}



// -----------------------------------------------------------------------------
// Styles
// -----------------------------------------------------------------------------

/*
---
name: Bouton par défaut
category: Boutons et liens
tag:
  - a
  - button
  - input
---

Appliquer ce style pour obtenir un bouton stylé.

```html
<a href="#" class="btn">Bouton basic</a>
```

```sass
@include btn;
```
*/
@mixin btn {
  @include btn--default;

  //@include hover {

  //}

  // Pushed
  //&:active {

  //}

}

