/* =============================================================================
   Media
============================================================================= */

/// Default media theme (image + text)
///
/// @group theme
/// @example scss Usage
/// .foo {
///   @include media;
/// }
@mixin media {
  @include clearfix;
  margin: 1em 0;
  clear: both;
}



/// Media-picture
///
/// @group theme
/// @example scss Usage
/// .foo {
///   @include media-pict;
/// }
@mixin media-pict {
  float: left;
  margin: 0 23px 5px 0;
  width: 100px;

  @include mq-to( 'sm' ) {
    float: none;
    margin-right: auto !important;
    margin-left: auto !important;
    width: auto;
  }

  a {
    display: block;

    img {
      display: block;
      margin: 0 auto;
    }

    figcaption {
      text-align: left;
      font-weight: bold;
    }
  }
}



/// Media-text
///
/// @group theme
/// @example scss Usage
/// .foo {
///   @include media-text;
/// }
@mixin media-text {

  p:first-child {
    margin-top: 0;
  }

}
