// -----------------------------------------------------------------------------
// Text content
// -----------------------------------------------------------------------------

/// WYSIWYG Content
///
/// @group theme
/// @example scss Usage
/// article {
///   @include text-content;
/// }
@mixin text-content {

  // Headings
  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1em 0 0.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1em 0 0.5em;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1em 0 0.5em;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1em 0 0.5em;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1em 0 0.5em 1em;
  }

  h6 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: normal;
    margin: 1em 0 0.5em 1em;
  }



  // No margin-top on the first <p>
  p:first-child,
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p  {
    margin-top: 0;
  }


  // Links
  a {
    @include underline;
  }


  // Lists
  ul {
    @include list;
  }


  // Tables
  table {
    @include table;
  }


}



