@charset "UTF-8";

/* Couleur de la sélection */
::selection         { background-color: #000; color:#fff; }
::-moz-selection    { background-color: #000; color:#fff; }

/* Couleur du focus au tap */
html { -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8); }
.no-highlight { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }



// Mixins
// Syntaxe : @include mixin-name;

@mixin no-pad-no-margin {
	padding: 0;
	margin: 0;
}

// Variables
$brand: #770000;


@import '_prefix';
@import '_base';





// Exemples :
.box { @include border-radius(10px); }