/* =============================================================================
   Basics
============================================================================= */

/* -----------------------------------------------------------------------------
   Interactions
----------------------------------------------------------------------------- */

/* Selection */
::selection         { background-color: $brand; color: #fff; }
::-moz-selection    { background-color: $brand; color: #fff; }




/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */

html {
  -webkit-tap-highlight-color: rgba($brand, 0.5); // Tap focus color
  font: #{em($base-font-size, 16px)}/$base-line-height $font-stack;
  color: $base-color;
  margin: 0;
}

body {
  font-size: 1.2rem; // IE9+
}




/* -----------------------------------------------------------------------------
   Default link's style
----------------------------------------------------------------------------- */

a {
  color: $base-color;
  @include underlineOnHover;
}

