/* =============================================================================
   Print
============================================================================= */

@media print {

  * {
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    width: auto !important;
    margin: auto !important;
    font-family: serif;
    font-size: 10px;
    background-color: #fff !important;
  }

  /* no orphans, no widows */
  p,
  blockquote {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid;
  }

  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }

  a {
    color: #000 !important;
    text-decoration: underline !important;
  }

}
