/* =============================================================================
   Admin
============================================================================= */

.admin-tabs {

  ul {
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 1em 0 2em;

    li {
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 0;
      background: none;
    }

    a {
      display: block;
      background-color: #fff;
      padding: 3px 10px;
      color: #333;
      border: 1px solid #d6d6d6;
      text-decoration: none;
      border-radius: 3px;
      font-weight: normal;
      font-size: 1em;

      @include hover {
        background: #333;
        border-color: #333;
        color: #fff;
        text-decoration: none;
      }
    }

    .active {
      background: #333;
      border-color: #333;
      color: #fff;
    }
  }

}


div.contextual-links-wrapper ul.contextual-links {
  border-radius: 0;
  background: $brand;

  a {
    color: #fff !important;
    font-size: 1.2rem;

    @include hover {
      background: darken($brand, 5%);
    }
  }
}

.block-workbench {
  margin: 20px 0;
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 20;

  @include mq-to('md') {
    display: none;
  }
}

// Only display admin-menu on desktop
@include mq-to('lg') {

  #admin-menu {
    display: none;
  }

  html body.admin-menu {
    margin-top: 0 !important;
  }

}

