
body {
  font: 0.75em/normal Arial, Helvetica, sans-serif;
  background: #fff;
}

.site {
	margin: 1em;
}


/* Links */
a {
  color: #770000;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}


section {
	border: 1px solid #ddd;
	padding: 1em;
}

kbd {
	padding: 2px 4px;
	border: 1px solid #ddd;
}