/* =============================================================================
   Layout
============================================================================= */

// Site size
$default-view-width: 1280px;

/// Offset width (ex: Labels width)
$offset-width: 150px;


// Spacing
$spacing-default: 15px;
$spacing-lg: 20px;
$spacing-md: 15px;
$spacing-sm: 10px;
$spacing-xs: 5px;



/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */

body {
  background: #fff;
  margin: 0;
}



/* -----------------------------------------------------------------------------
   Wrappers
----------------------------------------------------------------------------- */

// Does not allow overflow (usefull for sliding menu)
.outer-wrap {
  overflow: hidden;
}

.inner-wrap {
  max-width: $default-view-width;
}

.wrap {
  clear: both;
}


.page {
  @include pie-clearfix;
}

.sidebar {
  width: 280px;
  float: left;
  margin-left: 1em;

  @include mq-to( 'sm' ) {
    clear: both;
    float: none;
    width: auto;
    margin: 0;
  }
}
