/*
* COMPONENTS
* ----------
*
* Browser................Style relatifs aux navigateurs (couleurs de la sélection, des taps sur tactile)
*	Alignements...................Alignements, masquages
* Clearfix...............Créer un conxtexte de formatage
* Grid...................Grille
* Forms..................Formulaires
* Responsive.............Responsive Web Design
* Components.............Composants utilisés
*/





/* -----------------------------------------------------------------------------
	 $Browser
----------------------------------------------------------------------------- */

/* Selection */
::selection         { background-color: #000; color: #fff; }
::-moz-selection    { background-color: #000; color: #fff; }


/* Couleur du focus au tap */
html { -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8); }
.no-highlight { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }





/* -----------------------------------------------------------------------------
	 $Alignements
----------------------------------------------------------------------------- */

.center    { margin-left: auto; margin-right: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

.valign-top    { vertical-align: top !important; }
.valign-middle { vertical-align: middle !important; }
.valign-bottom { vertical-align: bottom !important; }

.pull-left  { float: left; }
.pull-right { float: right; }

.display-none { display: none; }
.is-hidden    { position: absolute; left: -9999px; top: 0; }





/* -----------------------------------------------------------------------------
	 $Clearfix
----------------------------------------------------------------------------- */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}

.cf:after {
		clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
		*zoom: 1;
}



/* -----------------------------------------------------------------------------
	 $Responsive
----------------------------------------------------------------------------- */

/* Responsive images */
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}


/* Responsive classes */

@media print {
	.visible-print { display: inherit !important; }
	.hidden-print { display: none !important; }
}
.visible-phone { display: none !important; }
.visible-tablet { display: none !important; }
.hidden-desktop { display: none !important; }
.visible-desktop { display: inherit !important; }


@media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop { display: inherit !important; }
	.visible-desktop { display: none !important ; }
	.visible-tablet { display: inherit !important; }
	.hidden-tablet { display: none !important; }
}
@media (max-width: 767px) {
	.hidden-desktop { display: inherit !important; }
	.visible-desktop { display: none !important; }
	.visible-phone { display: inherit !important; }
	.hidden-phone { display: none !important; }
}
.visible-print { display: none !important; }





/* -----------------------------------------------------------------------------
	 $Components
----------------------------------------------------------------------------- */

