

/* Couleur de la sélection */
::selection         { background-color: #000; color:#fff; }
::-moz-selection    { background-color: #000; color:#fff; }

/* Couleur du focus au tap */
html { -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8); }
.no-highlight { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font: 0.75em/normal Arial, Helvetica, sans-serif;
  background: #ccc;
}

/* Links */
a {
  color: #770000;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
