/* -----------------------------------------------------------------------------
   $Styles spécifiques
----------------------------------------------------------------------------- */

body {
  font: 0.75em/1.5 Arial, Helvetica, sans-serif;
  background: #fff;
}


/* Links */
a {
  color: #770000;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
