body {
  font: 0.75em/normal Arial, Helvetica, sans-serif;
  background: #ccc;
}

/* = Links = */
a {
  color: #770000;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
