
/* =============================================================================
   Global
============================================================================= */

.sg-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1em;
}

body {
  background: #fff;
}



/* =============================================================================
   Nav
============================================================================= */

.sg-nav {
}

.sg-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.sg-nav li {
  display: inline-block;
  vertical-align: middle;
}

.sg-nav li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 10px;
  margin-right: 8px;
  margin-left: 5px;
  background: #000;
  position: relative;

}

.sg-nav li:first-child:before {
  display: none;
}

.sg-nav a:link,
.sg-nav a:visited {
  color: #000;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}



/* =============================================================================
   Nav 2
============================================================================= */

.sg-nav-2 {
  display: none;
}

.sg-nav-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.sg-nav-2 li {
  display: inline-block;
  vertical-align: middle;
}

.sg-nav-2 li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  margin-right: 8px;
  margin-left: 5px;
  background: #000;
  position: relative;

}

.sg-nav-2 li:first-child:before {
  display: none;
}

.sg-nav-2 a:link,
.sg-nav-2 a:visited {
  color: #000;
  font-size: 12px;
}



/* =============================================================================
   Titles
============================================================================= */

h1.sg-title {
  font-weight: normal;
  color: #000;
  font-size: 36px;
}

h2.sg-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5em;
  text-align: center;
  font-weight: normal;
  color: #000;
}

.sg-content > h1 {
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-weight: normal;
  padding: 0 0 10px 0;
  margin: 20px 0 20px;
  clear: both;
}

.sg-content > h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 1px;
  background: #000;
}


/* =============================================================================
   Colors
============================================================================= */

.sg-color-wrapper {
  display: inline-block;
  margin: 10px 5px;
  width: 120px;
  vertical-align: top;
  background: #fff;
}

.sg-colors {
  font-family: "Courier New", Courier, monospace;
}

.sg-color {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto 10px;
  border-radius: 0% 100% 0% 0;
  box-shadow: 1px 1px 5px #ccc;
}
.sg-color-code {
  display: block;
  background: #fafafa;
  color: #D01A00;
  text-align: center;
  margin-bottom: 5px;
}
.sg-color-name {
  display: block;
  text-align: center;
}


/* =============================================================================
   Tables
============================================================================= */

.sg-table {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.sg-table > tbody > tr > th {
  width: 20%;
  font-family: "Courier New", Courier, monospace;
  vertical-align: top;
}

.sg-table > tbody > tr > th,
.sg-table > tbody > tr > td {
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px;
}

table.styleguide {
  margin: 1em 0;
  width: auto;
}

table.styleguide tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table.styleguide th {
  text-align: right;
  background: #f0f0f0;
  text-transform: uppercase;
  font-size: 10px;
}

table.styleguide td {
  padding: 3px 5px;
}

table.styleguide th,
table.styleguide td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

table.styleguide td:first-child {
  text-align: right;
  font-weight: bold;
}



/* =============================================================================
   Fonts
============================================================================= */

.sg-font-stack {
  font-size: 1.5em;
  padding-left: 20px;
}



/* =============================================================================
   Examples
============================================================================= */

.exampleOutput {
  margin: 1em 0;
}

.codeExample {
  position: relative;
  padding-bottom: 30px;
}

.sg-btn {
  display: inline-block;
  color: #aaa;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px 5px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.sg-btn:hover,
.sg-btn:focus {
  opacity: 1;
  text-decoration: none;
}

.codeExample .sg-btn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.codeExample:hover .sg-btn {
  display: inline-block;
}

.sg-btn-back {
  margin: 10px 0 0;
}

.codeBlock {
  display: none;
  overflow: hidden;
  clear: both;
}

pre {
  margin: 0;
  padding: 10px;
}
