/* =============================================================================
   Form text
============================================================================= */


/* -----------------------------------------------------------------------------
   Placeholder
----------------------------------------------------------------------------- */

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


input,
textarea {
  @include input-placeholder {
    opacity: 1;
    font-style: italic;
  }
}


/* -----------------------------------------------------------------------------
   Theme
----------------------------------------------------------------------------- */

$input-styles: (
  'padding': 5px 10px,
  'border': 1px solid #ccc,
  'border-radius': 0,
  'color': $base-color
);

/// Input theme
///
/// @group theme
///
/// @example scss
/// .foo {
///   @include input;
/// }
@mixin input($styles: $input-styles) {
  margin: 0;
  appearance: none;
  width: 100%;
  max-width: 100%;
  padding: map-get($styles, 'padding');
  border: map-get($styles, 'border');
  color: map-get($styles, 'color');
  border-radius: map-get($styles, 'border-radius');
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;

  @include mq-to( 'sm' ) {

  }
}



@mixin textarea($styles: $input-styles) {
  min-height: 5em;
  overflow: auto; // Removes default vertical scrollbar on empty textarea in IE6/7/8/9
  vertical-align: top;
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
  margin: 0;
  appearance: none;
  width: 100%;
  max-width: 100%;
  padding: map-get($styles, 'padding');
  border: map-get($styles, 'border');
  color: map-get($styles, 'color');
  border-radius: map-get($styles, 'border-radius');

  @include mq-to( 'sm' ) {

  }
}
