/* =============================================================================
   Forms
============================================================================= */

/* -----------------------------------------------------------------------------
   Forms components
----------------------------------------------------------------------------- */

@import "theme/__components/form/form-text";
@import "theme/__components/form/form-checkbox";
@import "theme/__components/form/form-radio";
@import "theme/__components/form/form-select";



/* -----------------------------------------------------------------------------
   Layout
----------------------------------------------------------------------------- */

/// Form row spacing
///
/// @group form
///
///
/// @example scss
/// .foo {
///   @include form-row;
/// }
@mixin form-row {
  position: relative;
  clear: left;
  margin-bottom: 1em;
}



/// Label above
///
/// @group form
///
///
/// @example scss
/// .foo {
///   @include label-block;
/// }
@mixin label-block {
  display: block;
  float: none;
  text-align: left;
  width: auto;
}


