<!DOCTYPE html>
<html lang="fr">
<head>

  <!-- Définir le mode de compatibilité Internet Explorer -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

  <meta charset="utf-8">

  <!-- Définir le niveau de zoom -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Layout</title>

  <link rel="stylesheet" href="style.css">

  <style>

    body {
      background-color: #777;
    }

    .arrow {
      width: 1rem;
    }

    .arrow path {
      stroke: #fff;
      stroke-width: 2px;
      fill: none;
    }

  </style>

</head>

<body>

<svg viewbox="0 0 20 20" class="arrow">
  <path d="M0 0 L10 10 L0 20"></path>
</svg>


</body>
</html>
