// =============================================================================
// Colors
// =============================================================================

$red: #ff4444;

$blue: #0066ff;
//$blue-light: lighten($blue, 5%);
//$blue-dark: darken($blue, 5%);

$grey: #333;
$light-grey: #f4f4f4;


$grey-1: #ccc; // x
$grey-2: #aaa;
$grey-3: #ddd;
$grey-4: #eee;




/// Brand color
/// @group theme
$brand: $blue;

/// Brand highlight
/// @group theme
$brand-highlight: tint($brand, 20%);

/// Base color
/// @group theme
$base-color: $grey; // Text

/// Error
/// @group theme
$error-color: $red;

