// =============================================================================
// Colors
// =============================================================================

// -----------------------------------------------------------------------------
// Colors definition
// -----------------------------------------------------------------------------

$blue: #0066ff;

$red: #ff4444;
$orange: #ff6600;
$green: #00ff00;

$grey: #333;
$grey--light: #f4f4f4; // [Usage]


// -----------------------------------------------------------------------------
// Colors abstraction
// -----------------------------------------------------------------------------

// Brand color.
$brand: $blue;
$brand-highlight: lighten($brand, 20%);

// Default text.
$base-color: $grey;

// States.
$error: $red;
$success: $green;
$warning: $orange;

// Blocks background.
$light-bg: $grey--light;

// Light borders.
$light-border: $grey;

// Forms
$inputs-borders: $grey;
