// =============================================================================
// Fonts
// =============================================================================

/* -----------------------------------------------------------------------------
   @Font-face
----------------------------------------------------------------------------- */

//@include font-face('Open Sans', (url("../fonts/OpenSans/opensans-regular-webfont.woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff"), url("../fonts/OpenSans/opensans-regular-webfont.ttf")), "../fonts/OpenSans/opensans-regular-webfont.eot", normal, normal);
//@include font-face('Open Sans', (url("../fonts/OpenSans/opensans-bold-webfont.woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff"), url("../fonts/OpenSans/opensans-bold-webfont.ttf")), "../fonts/OpenSans/opensans-bold-webfont.eot", bold, normal);
//@include font-face('Open Sans', (url("../fonts/OpenSans/opensans-semibold-webfont.woff2"), url("../fonts/OpenSans/opensans-semibold-webfont.woff"), url("../fonts/OpenSans/opensans-semibold-webfont.ttf")), "../fonts/OpenSans/opensans-semibold-webfont.eot", 600, normal);
//@include font-face('Open Sans', (url("../fonts/OpenSans/opensans-light-webfont.woff2"), url("../fonts/OpenSans/opensans-light-webfont.woff"), url("../fonts/OpenSans/opensans-light-webfont.ttf")), "../fonts/OpenSans/opensans-light-webfont.eot", 300, normal);



// -----------------------------------------------------------------------------
// Fonts variables
// -----------------------------------------------------------------------------

/// Font-stack map
///
/// @group theme
/// @example scss - Usage
///   font-family: $font-stack;
$font-stack: ('Arial', 'Helvetica', sans-serif);



/// Second font-stack map
///
/// @group theme
/// @example scss - Usage
///   font-family: $font-stack-alt;
$font-stack-alt: ('Open sans', 'Arial', 'Helvetica', sans-serif);



/// Base font-size
///
/// @group theme
//$base-font-size: 12px; // em unit - If 12px then 1em = 12px
$base-font-size: 10px; // rem unit : 1.2rem = 12px / 2rem = 20px



/// Base line-height
///
/// @group theme
$base-line-height: 1.5;
