// =============================================================================
// Fonts
// =============================================================================


/// Convert `px` to `em`
/// @param {px} $target - Targeted font-size
/// @param {px} $context [$base-font-size] - Context font-size
/// @group theme
@function em($target, $context: $base-font-size) {
  @return $target / $context * 1em;
}



/* -----------------------------------------------------------------------------
   @Font-face
----------------------------------------------------------------------------- */

//@include font-face("Open Sans", font-files("OpenSans/opensans-regular-webfont.woff2", "OpenSans/opensans-regular-webfont.woff", "OpenSans/opensans-regular-webfont.ttf"), "OpenSans/opensans-regular-webfont.eot", normal, normal);
//@include font-face("Open Sans", font-files("OpenSans/opensans-bold-webfont.woff2", "OpenSans/opensans-bold-webfont.woff", "OpenSans/opensans-bold-webfont.ttf"), "OpenSans/opensans-bold-webfont.eot", bold, normal);
//@include font-face("Open Sans", font-files("OpenSans/opensans-semibold-webfont.woff2", "OpenSans/opensans-semibold-webfont.woff", "OpenSans/opensans-semibold-webfont.ttf"), "OpenSans/opensans-semibold-webfont.eot", 600, normal);



// -----------------------------------------------------------------------------
// Fonts variables
// -----------------------------------------------------------------------------

/// Font-stack map
///
/// @group theme
/// @example scss - Usage
///   font-family: $font-stack;
$font-stack: ('Arial', 'Helvetica', sans-serif);

/// Second font-stack map
///
/// @group theme
/// @example scss - Usage
///   font-family: $font-stack-alt;
$font-stack-alt: ('Open sans', 'Arial', 'Helvetica', sans-serif);

/// Base font-size
///
/// @group theme
//$base-font-size: 12px; // em unit - If 12px then 1em = 12px
$base-font-size: 10px; // rem unit : 1.2rem = 12px / 2rem = 20px

/// Base line-height
///
/// @group theme
$base-line-height: 1.5;
