/* =============================================================================
   Layout
============================================================================= */

/// Site width
/// @group theme
$max-site-width: 1200px;


/// Breakpoints map - Based on Bootstrap reference
/// * Phones portait < 480px
/// * Phones < 768px
/// * Tablets >= 768px
/// * Desktops >= 992px
/// * Large desktops >= $max-site-width
///
/// @link http://getbootstrap.com/css/#responsive-utilities Bootstrap breakpoints reference
/// @group rwd
$breakpoints: (
  'xs': 480px,
  'sm': 768px,
  'md': 992px,
  'lg': $max-site-width
);


/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */

body {
  margin: 0;
}



/* -----------------------------------------------------------------------------
   Wrappers
----------------------------------------------------------------------------- */

