// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Site width
$max-site-width-int: 1280;
$max-site-width: $max-site-width-int * 1px; // = 1200px


// Breakpoints map - Based on Bootstrap reference
// * Phones portait < 480px
// * Phones < 768px
// * Tablets >= 768px
// * Desktops >= 992px
// * Large desktops >= $max-site-width
//
// @link http://getbootstrap.com/css/#responsive-utilities Bootstrap breakpoints
// reference.
$breakpoints: (
  '0' : 0,
  'xs': 480,
  'sm': 768,
  'md': 992,
  'lg': $max-site-width-int
);

