<!DOCTYPE HTML>
<!--[if lte IE 7]><html lang="fr" class="ie7 oldies"><![endif]-->
<!--[if IE 8]><html lang="fr" class="ie8 oldies"><![endif]-->
<!--[if IE 9]><html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

	<title>Grille</title>

	<link rel="stylesheet" media="all" href="grid.css" />

	<style>

	/* Demo */

	.grid-demo-border-box .box {
		background: #efefef;
		text-align: center;
		padding: 1em;
		border: 1px solid #ccc;
	}

	.grid-demo-ie7 .box-inner {
		background: #efefef;
		text-align: center;
		padding: 1em;
		border: 1px solid #ccc;
	}

	.grid-demo .box-1of3 { background: lightyellow; }
	.grid-demo .box-1of4 { background: palegoldenrod; }
	.grid-demo .box-1of2 { background: papayawhip; }

	.grid-demo .box-inner {
		padding: 1em;
		border: 1px solid #ccc;
	}

	</style>

</head>

<body>

<h1>Grille</h1>
<p>Modèles de mise en page avec <em>border-box</em></p>

<div class="grid-demo grid-demo-border-box">

<!--Full-width-->
<div class="box box-break box-full spacer-1-line">Full-width</div>

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of2">1of2</div>
	<div class="box box-1of2">1of2</div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of3">1of3</div>
	<div class="box box-1of3">1of3</div>
	<div class="box box-1of3 box-last">1of3</div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-2of3">2of3</div>
	<div class="box box-1of3 box-last">1of3</div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of4">1of4</div>
	<div class="box box-1of4">1of4</div>
	<div class="box box-1of4">1of4</div>
	<div class="box box-1of4 box-last">1of4</div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of4">1of4</div>
	<div class="box box-1of2">1of2</div>
	<div class="box box-1of4 box-last">1of4</div>
</div><!--/box-wrapper-->

</div><!--/grid-demo-border-box-->


<p>Modèles de mise en page sans <em>border-box</em></p>

<div class="grid-demo grid-demo-ie7">
<!--Full-width-->
<div class="box box-break box-full spacer-1-line"><div class="box-inner">Full-width</div></div>

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of2"><div class="box-inner">1of2</div></div>
	<div class="box box-1of2"><div class="box-inner">1of2</div></div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of3"><div class="box-inner">1of3</div></div>
	<div class="box box-1of3"><div class="box-inner">1of3</div></div>
	<div class="box box-1of3 box-last"><div class="box-inner">1of3</div></div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-2of3"><div class="box-inner">2of3</div></div>
	<div class="box box-1of3 box-last"><div class="box-inner">1of3</div></div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of4"><div class="box-inner">1of4</div></div>
	<div class="box box-1of4"><div class="box-inner">1of4</div></div>
	<div class="box box-1of4"><div class="box-inner">1of4</div></div>
	<div class="box box-1of4 box-last"><div class="box-inner">1of4</div></div>
</div><!--/box-wrapper-->

<div class="box-wrapper spacer-1-line">
	<div class="box box-1of4"><div class="box-inner">1of4</div></div>
	<div class="box box-1of2"><div class="box-inner">1of2</div></div>
	<div class="box box-1of4 box-last"><div class="box-inner">1of4</div></div>
</div><!--/box-wrapper-->

</div><!--/grid-demo-->

</body>
</html>