/* =============================================================================
   _basic.scss
============================================================================= */

body {
  font: #{em(12px, 16px)}/$base-line-height $font;
  color: $base-color;
  background: #fff;
  margin: 0;
}



/* -----------------------------------------------------------------------------
   Interactions
----------------------------------------------------------------------------- */

/* Selection */
::selection         { background-color: $brand; color: #fff; }
::-moz-selection    { background-color: $brand; color: #fff; }


/* Tap focus color */
html { -webkit-tap-highlight-color: rgba($brand, 0.5); }



/* -----------------------------------------------------------------------------
   Headings
----------------------------------------------------------------------------- */

.page-title {}
.page-subtitle {}

.section-title {}
.subsection-title {}

.block-title {}




/* -----------------------------------------------------------------------------
   Styles
----------------------------------------------------------------------------- */

// %placeholder {}
