/* =============================================================================
   Forms
============================================================================= */

/* -----------------------------------------------------------------------------
   Specifics formats
----------------------------------------------------------------------------- */

.format-x { width: 30px !important; }
.format-xx { width: 40px !important; }
.format-xxxx { width: 60px !important; }
.format-date { width: 80px !important; }



/* -----------------------------------------------------------------------------
   Form's components style
----------------------------------------------------------------------------- */

.form-row {
  clear: left;
}

  label {

  }

  .form-input {
    margin: 0;
    font-size: 1em;
    vertical-align: middle;
    font-family: inherit;
    width: 100%;
    color: $base-color;

    border: 1px solid #bebebe;
    padding: 4px 3%;
    @include border-radius(3px);
    @include single-box-shadow(#9f9f9f, 0, 2px, 1px, 0, inset);
  }
