/* =============================================================================
   Layout
============================================================================= */

.wrapper {
  clear: both;
}

.page {
  @include pie-clearfix;
}

  .sidebar {
    width: 280px;
    float: left;
    margin-left: 1em;

    @include mq-until( $breakpoint-sm ) {
      clear: both;
      float: none;
      width: auto;
      margin: 0;
    }
  }

  main {
    clear: both;
    float: left;
    width: 700px;

    @include mq-until( $breakpoint-sm ) {
      float: none;
      width: auto;
    }
  }
