/* =============================================================================
   Tables
============================================================================= */


/*doc
---
title: Tableaux
name: table-1
category: Tableaux
---
```html_example
<table class="table">
  <thead>
    <tr>
      <th><a href="#" class="table-sort-asc">Lorem</a></th>
      <th>Ipsum</th>
      <th><a href="#" class="table-sort-desc">Lorem</a></th>
    </tr>
  </thead>
  <tbody>
    <tr class="highlight">
      <td>Lorem</td>
      <td>Ipsum</td>
      <td>Lorem</td>
    </tr>
    <tr class="highlight text-grey">
      <td>Lorem</td>
      <td>Ipsum</td>
      <td>Lorem</td>
    </tr>
    <tr class="text-grey">
      <td>Lorem</td>
      <td>Ipsum</td>
      <td>Lorem</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>Ipsum</td>
      <td>Lorem</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="align-right">TOTAL : 462,50&nbsp;&euro;</td>
    </tr>
  </tfoot>
</table>
```
*/

.table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  border: 1px solid $grey-1;
  border-bottom: 2px solid $brand;
  background: #fff;

  th,
  td {
    padding: 10px 18px;
  }

  th {
    position: relative;
    background: $brand;
    color: #fff;
    font-weight: normal;
    text-align: left;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 0;
      width: 1px;
      background-color: #fff;
    }

  }

  tr:first-child th:first-child:before {
    display: none;
  }

  tr {
    border-bottom: 1px solid $grey-1;
  }

  .highlight {
    td {
      background-color: #fffcdd;
    }
  }

  .text-grey {
    color: #8a8879;
  }

  tr:hover td {
    background: lighten($brand, 50%);
  }


  tfoot {

    tr:nth-child(2n+1),
    tr {
      background: $brand;
      color: #fff;
    }

    tr:hover td {
      background: $brand-highlight;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

}



/*doc
---
title: Lignes colorées alternativement
name: table-2
category: Tableaux
---
```html_example
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Lorem</th>
      <th>Ipsum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem</td>
      <td>Ipsum</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>Ipsum</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>Ipsum</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>Ipsum</td>
    </tr>
  </tbody>
</table>
```
*/

.table-stripped {

  tr:nth-child(2n+1) {
    background: #f9f9f9;
  }

}





/* -----------------------------------------------------------------------------
   Sort
----------------------------------------------------------------------------- */

.table-sort-asc,
.table-sort-desc {
  display: block;
  color: #fff;

  &:after {
    content: '';
    float: right;
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
    //@include sprites-sprite("arrow-sort-asc");
  }
}

.table-sort-desc {
  &:after {
    //@include sprites-sprite("arrow-sort-desc");
  }
}

