/* =============================================================================
   Texts
============================================================================= */

/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */

body {
  font: #{em($base-font-size, 16px)}/$base-line-height $font;
  color: $base-color;
  background: #fff;
  margin: 0;
}



/* -----------------------------------------------------------------------------
   Colored texts
----------------------------------------------------------------------------- */

/*doc
---
title: Couleur de textes
name: style-1
category: Textes
---
```html_example
<div class="brand">Lorem ipsum</div>
<div class="txt-error">Lorem ipsum</div>
```
*/

%brand { color: $brand; }

.brand { @extend %brand; }
.txt-error { color: $error-color; }





/* -----------------------------------------------------------------------------
   Text styles
----------------------------------------------------------------------------- */

.uppercase {
  text-transform: uppercase;
}


/* -----------------------------------------------------------------------------
   Headings
----------------------------------------------------------------------------- */

/*doc
---
title: Titre de bloc
name: heading-1
category: Textes
---
```html_example
<h2 class="block-title">Lorem ipsum</h2>
```
*/

%title-1 {
  font-family: $font;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 10px;
  @extend %brand;
}


.block-title {
  @extend %title-1;
}



//.page-title {}
//.page-subtitle {}
//.section-title {}
//.subsection-title {}
//.section-subtitle {}

