// -----------------------------------------------------------------------------
// Theme
// -----------------------------------------------------------------------------


// Fonts
$font: Arial, Helvetica, sans-serif;
$font-alt: Georgia, Times, "Times New Roman", serif;
$base-font-size: 12px; // If 12px then 1em = 12px
$base-line-height: 1.5;


/* -----------------------------------------------------------------------------
   Colors
----------------------------------------------------------------------------- */

$brand: #f00; // Brand's color
$brand-highlight: lighten($brand, 20%);
$base-color: #333;

$second-color: #00f;
$error-color: #f00;



/* -----------------------------------------------------------------------------
   Breakpoints
----------------------------------------------------------------------------- */

// Based on Bootstrap reference
// http://getbootstrap.com/css/#responsive-utilities
$breakpoint-xs: 480px;  // Small phones
$breakpoint-sm: 768px;  // Small devices / Tablets
$breakpoint-md: 992px;  // Medium devices / Desktops
$breakpoint-lg: 1170px; // Large devices / Large desktops



/* -----------------------------------------------------------------------------
   Compass config
----------------------------------------------------------------------------- */

// Minimum browsers support
//$browser-minimum-versions: (ie: '8');

// Sprite map config
//$sprites-sprite-base-class: '.sp';
//$sprites-sprite-dimensions: true;
//$sprites-layout: smart;

