/* =============================================================================
   Browsers helpers
============================================================================= */

/* -----------------------------------------------------------------------------
   Box-sizing
----------------------------------------------------------------------------- */

// Apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



// -----------------------------------------------------------------------------
// Reset
// -----------------------------------------------------------------------------

// Cancel list's default styles
@mixin reset-list {
  list-style: none;
  @include reset-box-model;
}



// -----------------------------------------------------------------------------
// Font
// -----------------------------------------------------------------------------

@function em($target, $context: $base-font-size) {
   @return $target / $context * 1em;
}




// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

// Links underlined on hover/focus/active states
@mixin underlineOnHover {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active { text-decoration: underline; }
}


// Links underlined
@mixin underline {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active { text-decoration: none; }
}


// Add hover/Focus style
@mixin hover() {
  &.focus,
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Add focus style
@mixin focus() {
  &:focus,
  &:active {
    @content;
  }
}



// -----------------------------------------------------------------------------
// IE Compatibility
// -----------------------------------------------------------------------------

// IE7 inline-block
@mixin ie7-inline-block {
  .ie7 & {
    display: inline;
    zoom: 1;
  }
}



