/* =============================================================================
   Forms
============================================================================= */

/* -----------------------------------------------------------------------------
   Placeholder
----------------------------------------------------------------------------- */

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}



/* -----------------------------------------------------------------------------
   Mixins
----------------------------------------------------------------------------- */

// Position : above
@mixin label-block {
  display: block;
  float: none;
  text-align: left;
  width: auto;
}

// Position : Left
@mixin label-start {
  float: left;
  width: $offset-width;
  margin-right: 1em;
  text-align: right;
}

// Position : nearby
@mixin label-inline {
  display: inline;
  float: none;
  width: auto;
  margin-right: 1em;
  text-align: left;
}


.label-inline { @include label-inline; }
.label-block { @include label-block; }
.label-start { @include label-start; }




/* -----------------------------------------------------------------------------
   Responsive
----------------------------------------------------------------------------- */

@include mq-until( $breakpoint-lg ) {
  .label-block-md { @include label-block; }
  .label-start-md { @include label-start; }
  .label-inline-md { @include label-inline; }
}

@include mq-until( $breakpoint-md ) {
  .label-block-sm { @include label-block; }
  .label-start-sm { @include label-start; }
  .label-inline-sm { @include label-inline; }
}

@include mq-until( $breakpoint-sm ) {
  .label-block-xs { @include label-block; }
  .label-start-xs { @include label-start; }
  .label-inline-xs { @include label-inline; }
}
