/* =============================================================================
   Grid
============================================================================= */




$susy: (
  columns: 12,
  global-box-sizing: border-box,
  gutters: 1,
  last-flow: to
);

//$susy-second-map: (
//  gutters: 1/4
//);

// @include layout($susy-second-map);
// @include span(5 of 12);
// @include span(7 of 12 last);


.row {
  @include container;
}



/* -----------------------------------------------------------------------------
   Grid 2 col
   item | item
----------------------------------------------------------------------------- */

.container-2-col {
  @include container;

  .grid-item {
    @include span(6 of 12);

    &:nth-child(2n) {
      @include span(6 of 12 last);
    }

    // IE8
    &:first-child {
      + .grid-item,
      + .grid-item + .grid-item + .grid-item,
      + .grid-item + .grid-item + .grid-item  + .grid-item  + .grid-item {
        @include span(6 of 12 last);
      }
    }

  }
}



/* -----------------------------------------------------------------------------
   Grid 3 col
   item | item | item
----------------------------------------------------------------------------- */

.container-3-col {
  @include container;

  .grid-item {
    @include span(4 of 12);

    &:nth-child(3n) {
      @include span(4 of 12 last);
    }

    // IE8
    &:first-child {
      + .grid-item + .grid-item,
      + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item,
      + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item  + .grid-item {
        @include span(4 of 12 last);
      }
    }

  }
}




