/* =============================================================================
   Grid
============================================================================= */

/*doc
---
title: Grille
name: grid
category: Grille
---
```html_example
<div class="container-2-col">
  <div class="grid-item sg-block align-center">1/2</div>
  <div class="grid-item sg-block align-center">1/2</div>
</div>

<div class="container-3-col">
  <div class="grid-item sg-block align-center">1/3</div>
  <div class="grid-item sg-block align-center">1/3</div>
  <div class="grid-item sg-block align-center">1/3</div>
</div>

<div class="container-4-col">
  <div class="grid-item sg-block align-center">1/4</div>
  <div class="grid-item sg-block align-center">1/4</div>
  <div class="grid-item sg-block align-center">1/4</div>
  <div class="grid-item sg-block align-center">1/4</div>
</div>

<div class="row-1-third-2-thirds">
  <div class="grid-item sg-block align-center">1/3</div>
  <div class="grid-item sg-block align-center">2/3</div>
</div>

<div class="row-2-thirds-1-third">
  <div class="grid-item sg-block align-center">2/3</div>
  <div class="grid-item sg-block align-center">1/3</div>
</div>
```
*/

$susy: (
  columns: 12,
  global-box-sizing: border-box,
  gutters: 1,
  last-flow: to,
  use-custom: (
    box-sizing: false
  )
);


// Usage :
//
// @include container;
// @include span(5 of 12);
// @include span(7 of 12 last);
//
// $susy-conf-2: (
//   gutters: 1/4
// );
// @include layout($susy-conf-2);

.row {
  @include container;
}



/* -----------------------------------------------------------------------------
   Grid 2 col
   item | item
----------------------------------------------------------------------------- */


.container-2-col {
  @include container;

  > .grid-item {
    @include span(6 of 12);

    &:nth-child(2n) {
      @include span(6 of 12 last);
    }

    // IE8
    &:first-child {
      + .grid-item,
      + .grid-item + .grid-item + .grid-item,
      + .grid-item + .grid-item + .grid-item  + .grid-item  + .grid-item {
        @include span(6 of 12 last);
      }
    }

  }
}



/* -----------------------------------------------------------------------------
   Grid 3 col
   item | item | item
----------------------------------------------------------------------------- */

.container-3-col {
  @include container;

  > .grid-item {
    @include span(4 of 12);

    &:nth-child(3n) {
      @include span(4 of 12 last);
    }

    // IE8
    &:first-child {
      + .grid-item + .grid-item,
      + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item,
      + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item  + .grid-item {
        @include span(4 of 12 last);
      }
    }

  }
}



/* -----------------------------------------------------------------------------
   Grid 4 col
   item | item | item | item
----------------------------------------------------------------------------- */

.container-4-col {
  @include container;

  > .grid-item {
    @include span(3 of 12);

    &:nth-child(4n) {
      @include span(3 of 12 last);
    }

    // IE8
    &:first-child {
      + .grid-item + .grid-item + .grid-item,
      + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item + .grid-item {
        @include span(3 of 12 last);
      }
    }

  }
}



/* -----------------------------------------------------------------------------
   Grid 1/3 2/3
   item |   item
----------------------------------------------------------------------------- */

.row-1-third-2-thirds {
  @include container;

  > .grid-item {
    @include span(4 of 12);

    +  .grid-item {
      @include span(8 of 12 last);
    }
  }

}



/* -----------------------------------------------------------------------------
   Grid 2/3 1/3
      item    | item
----------------------------------------------------------------------------- */

.row-2-thirds-1-third {
  @include container;

  > .grid-item {
    @include span(8 of 12);

    +  .grid-item {
      @include span(4 of 12 last);
    }
  }

}


