/* =============================================================================
   Layout helpers
============================================================================= */


/* -----------------------------------------------------------------------------
   Box-sizing
----------------------------------------------------------------------------- */

// Apply a natural box layout model to all elements
*, *:before, *:after {
  box-sizing: border-box;
}



// -----------------------------------------------------------------------------
// Media Queries
// -----------------------------------------------------------------------------

// Until
@mixin mq-until($width) {
  @media only screen and (max-width: $width - 1) {
    @content;
  }
}

// At least
// Éviter de l'utliser sous peine de voir les styles ne pas s'appliquer sur les
// navigateurs ne gérants pas les media queries
@mixin mq-at-least($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}



/* -----------------------------------------------------------------------------
   Alignments
----------------------------------------------------------------------------- */

.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }

.valign-top    { vertical-align: top !important; }
.valign-middle { vertical-align: middle !important; }
.valign-bottom { vertical-align: bottom !important; }

.align-start { float: left; }
.align-end   { float: right; }
.align-clear { clear: both; }

.block-clear { clear: both; height: 0.01em; font-size: 0.01em; padding: 0; line-height: 0; }




/* -----------------------------------------------------------------------------
   Display helpers
----------------------------------------------------------------------------- */

.is-hidden { display: none; }

// Hidden except for screen-readers - Yahoo! method : https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.visible-xs { display: none !important; }
.visible-sm { display: none !important; }
.hidden-md { display: none !important; }
.visible-md { display: inherit !important; }


@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  .hidden-md { display: inherit !important; }
  .visible-md { display: none !important ; }
  .visible-tablet { display: inherit !important; }
  .hidden-sm { display: none !important; }
}
@media (max-width: $breakpoint-sm - 1) {
  .hidden-md { display: inherit !important; }
  .visible-md { display: none !important; }
  .visible-xs { display: inherit !important; }
  .hidden-xs { display: none !important; }
}



/* -----------------------------------------------------------------------------
   Spacer
----------------------------------------------------------------------------- */

.spacer-1-line { margin-bottom: 1em !important; }
.spacer-2-line { margin-bottom: 2em !important; }
.spacer-3-line { margin-bottom: 3em !important; }







// -----------------------------------------------------------------------------
// Flexbox
// -----------------------------------------------------------------------------


@mixin flex-col {

  // Flexbox 3 versions
  // > http://caniuse.com/#feat=flexbox
  // > Not working on IE9 (but there is no mobile device on IE9 right ?)

  // Version 1 : Firefox <= 21, Safari <= 6, Safari iOS <= 6.1, Android Browser <= 4.3
  @include flexbox((
    display: box,
    box-orient: vertical
  ), $version: 1);


  // Version 2 : IE10
  @include flexbox((
    display: flexbox,
    flex-direction: column
  ), $version: 2);


  // Version 3 : IE11, Chrome, FF, Safari 6.1, Safari iOS 7.1, Android Browser 4.4
  @include flexbox((
    display: flex,
    flex-direction: column
  ));

}

@mixin flex-order($order) {

  @include flexbox((
    box-ordinal-group: $order
  ), $version: 1);

  @include flexbox((
    flex-order: $order
  ), $version: 2);

  @include flexbox((
    order: $order
  ), $version: 3);

}

/* -----------------------------------------------------------------------------
   Flex helpers
----------------------------------------------------------------------------- */

// Usage :
// <div class="flex-wrapper">
//   <div data-flexbox-pos-xs="2"></div>
//   <div data-flexbox-pos-xs="1"></div>
// </div><!--/flex-wrapper-->


@include mq-until( $breakpoint-sm ) {

  .flex-wrapper {
    @include flex-col;
  }

  @for $i from 1 through 5 {

    div[data-flexbox-pos-xs="#{$i}"] {
      @include flex-order($i);
    }

  }

}

