// =============================================================================
// _mixins.scss
// =============================================================================
//
// Syntaxe : @include mixin-name;


// -----------------------------------------------------------------------------
// Reset
// -----------------------------------------------------------------------------

// Cancel list's default styles
@mixin reset-list {
  list-style: none;
  @include reset-box-model;
}


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

// Links underlined on hover/focus/active states
@mixin underlineOnHover {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active { text-decoration: underline; }
}


// Links underlined
@mixin underline {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active { text-decoration: none; }
}


// Add hover/Focus style
@mixin hover() {
  &.focus,
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Add focus style
@mixin focus() {
  &:focus,
  &:active {
    @content;
  }
}


// -----------------------------------------------------------------------------
// Font
// -----------------------------------------------------------------------------

@function em($target, $context: $base-font-size) {
   @return $target / $context * 1em;
}


// -----------------------------------------------------------------------------
// IE Compatibility
// -----------------------------------------------------------------------------

// IE7 inline-block
@mixin ie7-inline-block {
  .ie7 & {
    display: inline;
    zoom: 1;
  }
}


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}



// -----------------------------------------------------------------------------
// Flexbox
// -----------------------------------------------------------------------------

@mixin flexbox-order($order) {
  -moz-box-ordinal-group: $order;
  -webkit-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}


@mixin flexbox-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-orient:vertical; // Establishes the direction of reordering - we want the y-axis
  -webkit-box-orient:vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}





// -----------------------------------------------------------------------------
// Media Queries
// -----------------------------------------------------------------------------

// Until
@mixin mq-until($width) {
  @media only screen and (max-width: $width - 1) {
    @content;
  }
}

// At least
// Éviter de l'utliser sous peine de voir les styles ne pas s'appliquer sur les
// navigateurs ne gérants pas les media queries
@mixin mq-at-least($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}






