/* =============================================================================
   Back to top
============================================================================= */

.back-to-top {
  position: fixed;
  bottom: -1em;
  right: 1em;
  z-index: 10;

  @include mq-to( 'sm' ) {
    bottom: auto;
    top: -1em;
  }

  .js & {
    opacity: 0;
    transition: 1s;
  }

  > a {
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    opacity: 0.80;
    transition: 500ms;

    @include mq-to( 'sm' ) {
      padding: 10px 15px;
    }


    &:before {
      content: '';
      @include sprite($page-up);
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      margin-bottom: 2px;

      @include mq-to( 'sm' ) {
        margin: 0;
      }
    }
  }

  @include hover {
    opacity: 1;
    bottom: 1em;
  }

  span {

    @include mq-to( 'sm' ) {
      @include hide-text;
    }
  }

}


.js .back-to-top--is-visible {
  opacity: 1;
  bottom: 1em;

  @include mq-to( 'sm' ) {
    bottom: auto;
    top: 1em;
  }

}
