<!DOCTYPE html>
<!--[if lte IE 7]>    <html lang="fr" class="ie7 lte-ie8"><![endif]-->
<!--[if IE 8]>        <html lang="fr" class="ie8 lte-ie8"><![endif]-->
<!--[if IE 9]>        <html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

  <title>Login</title>

  <link rel="stylesheet" href="../assets/css/normalize.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/css/print.css" media="print" />

</head>

<body>

<div class="wrapper">

  <main id="a_content" role="main">

    <div class="form-sign-in">
      <form action="#" method="post">

        <div class="form-row">
          <label for="login">Identifiant</label>
          <input type="text" value="" name="login" id="login" class="form-input" aria-required="true" />
        </div>

        <div class="form-row">
          <label for="pwd">Mot de passe</label>
          <input type="password" value="" name="pwd" id="pwd" class="form-input" aria-required="true" />
        </div>

        <div class="form-row">
          <input type="checkbox" name="remember-me" id="remember-me" />
          <label for="remember-me" class="label-inline">Se souvenir de moi</label>
        </div>

        <div class="form-row">
          <a href="#" class="forgot-pwd">Mot de passe oublié ?</a>
        </div>

        <div class="btn-group">
          <a href="#">S'inscrire</a>
          <input type="submit" class="btn" value="Se connecter" />
        </div>

      </form>
    </div><!--/form-sign-in-->

  </main>

</div><!--/wrapper-->

</body>
</html>
