<!DOCTYPE html>
<!--[if lte IE 7]>    <html lang="fr" class="ie7 lte-ie8"><![endif]-->
<!--[if IE 8]>        <html lang="fr" class="ie8 lte-ie8"><![endif]-->
<!--[if IE 9]>        <html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

  <title>Page</title>

</head>

<body>

<h1>[Titre h1] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptatem adipisci hic incidunt facilis sit</h1>




<h2>[Titre 2] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptatem adipisci hic incidunt facilis sit</h2>




<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in quo iusto, animi molestiae at harum fugit maiores, accusantium, perferendis nihil ex architecto tempora! Dolor est laudantium fugit. Obcaecati ipsa doloribus soluta modi veritatis nobis magnam, facere molestias. Atque, enim.</p>
<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Magnam in <a href="#" target="_blank">quo iusto, animi molestiae</a> at harum fugit maiores, accusantium, perferendis nihil ex architecto tempora! Dolor est laudantium fugit. Obcaecati ipsa doloribus soluta modi veritatis nobis magnam, facere molestias. Atque, enim.</p>




<h3>[Titre 3] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptatem adipisci hic incidunt facilis sit</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in quo iusto, animi molestiae at harum fugit maiores, accusantium, perferendis nihil ex architecto tempora! Dolor est laudantium fugit. Obcaecati ipsa doloribus soluta modi veritatis nobis magnam, facere molestias. Atque, enim.</p>

<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, est.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, est.</li>
  <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a> adipisicing elit.</li>
</ul>





<h4>[Titre 4] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptatem adipisci hic incidunt facilis sit</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in quo iusto, animi molestiae at harum fugit maiores, accusantium, perferendis nihil ex architecto tempora! Dolor est laudantium fugit. Obcaecati ipsa doloribus soluta modi veritatis nobis magnam, facere molestias. Atque, enim.</p>

<ol>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, est.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, est.</li>
  <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a> adipisicing elit.</li>
</ol>




<h5>[Titre 5] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptatem adipisci hic incidunt facilis sit</h5>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in quo iusto, animi molestiae at harum fugit maiores, accusantium, perferendis nihil ex architecto tempora! Dolor est laudantium fugit. Obcaecati ipsa doloribus soluta modi veritatis nobis magnam, facere molestias. Atque, enim.</p>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in quo iusto, animi molestiae at harum fugit maiores, accusantium, perferendis nihil ex architecto tempora! Dolor est laudantium fugit. Obcaecati ipsa doloribus soluta modi veritatis nobis magnam, facere molestias. Atque, enim.</p>
</blockquote>





<h6>[Titre 6] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptatem adipisci hic incidunt facilis sit</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in quo iusto, animi molestiae at harum fugit maiores, accusantium, perferendis nihil ex architecto tempora! Dolor est laudantium fugit. Obcaecati ipsa doloribus soluta modi veritatis nobis magnam, facere molestias. Atque, enim.</p>

</body>
</html>
