<div class="media-wrapper media-theme">


  <div class="media">

    <figure class="media-pict">
      <a href="#"><img src="http://placehold.it/100x100/CCCCCC.png" alt="Titre de l'article" class="img-responsive"></a>
      <figcaption>Légende lorem ipsum dolor sit amet</figcaption>
    </figure>

    <div class="media-content">

      <h3 class="media-title"><a href="#">Bloc média avec illustration</a></h3>
      <div class="media-date">01/01/2020</div>
      <div class="media-text">
        <p>Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Doloribus, nobis</p>
      </div>

    </div><!--/media-content-->

  </div><!--/media-->



</div><!--/media-wrapper-->
