<!DOCTYPE html>
<!--[if lte IE 7]>    <html lang="fr" class="ie7 lte-ie8"><![endif]-->
<!--[if IE 8]>        <html lang="fr" class="ie8 lte-ie8"><![endif]-->
<!--[if IE 9]>        <html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

  <title>List</title>

  <link rel="stylesheet" href="../assets/css/normalize.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/css/print.css" media="print" />

</head>

<body>

<div class="wrapper">

  <main id="a_content" role="main">

    <h1 class="page-title">Résultat de la recherche</h1>

    <div class="search-result">
      <div class="search-result-item">

        <figure>
          <a href="#"><img src="http://placehold.it/100x100/CCCCCC.png" alt="Titre de l'article" class="img-responsive"></a>
        </figure>

        <div class="search-result-content">
          <div class="media-date">01/01/2020</div>
          <h2 class="media-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, perferendis</a></h2>
          <div class="media-text">
            <p>Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Doloribus, nobis</p>
          </div>
        </div><!--/media-content-->

      </div><!--/search-result-item-->

      <div class="search-result-item">

        <figure>
          <a href="#"><img src="http://placehold.it/100x100/CCCCCC.png" alt="Titre de l'article" class="img-responsive"></a>
        </figure>

        <div class="search-result-content">
          <div class="media-date">01/01/2020</div>
          <h2 class="media-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, perferendis</a></h2>
          <div class="media-text">
            <p>Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Doloribus, nobis</p>
          </div>
        </div><!--/media-content-->

      </div><!--/search-result-item-->
    </div><!--/search-result-->

  </main>

</div><!--/wrapper-->

</body>
</html>
