/* =============================================================================
   Lists
============================================================================= */

/// Default list theme
///
/// @group theme
/// @example scss Usage
/// .foo {
///   @include list;
/// }
@mixin list {
  margin: 1em 0;
  padding: 0;
  list-style: none;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}




/* -----------------------------------------------------------------------------
   Lists
----------------------------------------------------------------------------- */







