/* =============================================================================
   Tables
============================================================================= */

.table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  border: 1px solid $grey-2;
  border-bottom: 2px solid $brand;
  background: #fff;

  th,
  td {
    padding: 10px 18px;
  }

  th {
    position: relative;
    background: $grey-4;
    font-weight: normal;
    text-align: left;
  }

  tr {
    border-bottom: 1px solid $grey-1;
  }

  // hover
  tr:hover td {
    background: $grey-4;
  }


  tfoot {

    tr:nth-child(2n+1),
    tr {
      background: $grey-4;
    }

  }

}



.table-stripped {

  tr:nth-child(2n+1) {
    background: #f9f9f9;
  }

}





/* -----------------------------------------------------------------------------
   Sort
----------------------------------------------------------------------------- */

.table-sort-asc,
.table-sort-desc {
  display: block;

  &:after {
    content: '';
    float: right;
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
    //@include sprites-sprite("arrow-sort-asc");
  }
}

.table-sort-desc {
  &:after {
    //@include sprites-sprite("arrow-sort-desc");
  }
}

