// =============================================================================
// Colors
// =============================================================================


/*doc
---
title: Couleurs
name: colors
category: Couleurs
---


```color_example
#ff0000
```
```colorname_example
$brand
```


```color_example
#0000ff
```
```colorname_example
$second-color
```


```color_example
#ff0000
```
```colorname_example
$error-color
```

*/

$brand: #222533; // Brand's color
$brand-highlight: lighten($brand, 20%);
$base-color: $brand;

$second-color: #a9cf54;
$error-color: #f00;




/*doc
---
title: Gris
name: gris
category: Couleurs
---

```color_example
#eee
```
```colorname_example
$grey-light-1
```


```color_example
#222
```
```colorname_example
$grey-dark-1
```

*/

$grey-light-1: #eee;
$grey-dark-1: #222;

