/* =============================================================================
   Common
============================================================================= */

/* -----------------------------------------------------------------------------
   Fonts
----------------------------------------------------------------------------- */

//@include font-face("Arvo", font-files("Arvo/arvo-regular-webfont.woff2", "Arvo/arvo-regular-webfont.woff", "Arvo/arvo-regular-webfont.ttf"), "Arvo/arvo-regular-webfont.eot", normal, normal);
//@include font-face("Arvo", font-files("Arvo/arvo-bold-webfont.woff2", "Arvo/arvo-bold-webfont.woff", "Arvo/arvo-bold-webfont.ttf"), "Arvo/arvo-bold-webfont.eot", bold, normal);



/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */

body {
  font: #{em(12px, 16px)}/$base-line-height $font;
  color: $base-color;
  background: #fff;
  margin: 0;
}



/* -----------------------------------------------------------------------------
   Interactions
----------------------------------------------------------------------------- */

/* Selection */
::selection         { background-color: $brand; color: #fff; }
::-moz-selection    { background-color: $brand; color: #fff; }


/* Tap focus color */
html { -webkit-tap-highlight-color: rgba($brand, 0.5); }



/* -----------------------------------------------------------------------------
   Styles
----------------------------------------------------------------------------- */

%brand { color: $brand; }

.brand { @extend %brand; }
.txt-error { color: $error-color; }


%title-style-1 {
  /*
  font-family: $font;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  margin: 45px 0 15px;
  color: $brand;
  */
}

// %placeholder {}



/* -----------------------------------------------------------------------------
   Headings
----------------------------------------------------------------------------- */

.page-title {}
.page-subtitle {}

.section-title {}
.subsection-title {}

.block-title {}
