/* =============================================================================
   Forms
============================================================================= */

/* -----------------------------------------------------------------------------
   Formats
----------------------------------------------------------------------------- */

.format-x { width: 30px !important; }
.format-xx { width: 40px !important; }
.format-xxxx { width: 60px !important; }
.format-date { width: 80px !important; }

%format-full { width: 100%; }



/* -----------------------------------------------------------------------------
   Form's components style
----------------------------------------------------------------------------- */

.form-row {
  clear: left;
}

  label {
    // @include label-block;
    // @include label-start;
    // @include label-inline;


    input[type="checkbox"] + &,
    input[type="radio"] + & {
      @include label-inline;
    }
  }

  .form-input {
    margin: 0;
    font-size: 1em;
    vertical-align: middle;
    font-family: inherit;
    width: 100%;
    color: $base-color;

    border: 1px solid #bebebe;
    padding: 4px 3%;
  }
