/* =============================================================================
   Custom select
============================================================================= */

$select-height: 52px;

.custom-select-container {
  position: relative;
  display: block;
  min-width: 150px;
}

select.replaced {
  position: relative;
  z-index: 10;
  width: 100%;
  height: $select-height;
  line-height: $select-height;
  border: 0;
  filter: alpha(opacity=0); /* Move to IE-specific CSS file if you want to. */
  opacity: 0;
  padding: 0;
  border: 1px solid #fff;
}

span.custom-select {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  width: 100%;
  line-height: $select-height;
  z-index: 1;
  cursor: default;
}


.custom-select > span {
  display:block;
  padding: 0 48px 0 0;
  border-bottom: 2px solid $grey-light-1;
  border-radius: 3px;
  background: $brand;
  @include transition(all 300ms);
  line-height: $select-height;
  color: #323a45;
  font-size: em(16px);
  overflow: hidden;
}

.custom-select span span {
  display: block;
  height: $select-height;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  background: #fff;
  padding-left: 10px;
}

.custom-select.active span span {
  background: #fafafa;
}

.custom-select.active > span {
  background-color: $brand-highlight;
}
