/* =============================================================================
   Checkbox
============================================================================= */

/*doc
---
title: Checkbox
name: checkbox-1
category: Formulaires
---
```html_example
<input type="checkbox" id="cb-1" name="cb-1" value="1">
<label for="cb-1">Option 1</label>

<input type="checkbox" id="cb-2" name="cb-2" value="2" checked>
<label for="cb-2">Option 2</label>

<input type="checkbox" id="cb-dis" name="cb-dis" value="" checked disabled>
<label for="cb-dis">Désactivée</label>
```

Compatibilité : IE9+ (affichage standard pour <= IE8)

*/

// Label
$cb-label-padding-left: 20px;
$cb-label-disabled: $form-disabled-text;

// Box
$cb-box-background: #f7f7f7;
$cb-box-background-hover: #ddd;
$cb-box-background-disabled: $form-disabled-bg;
$cb-box-border: $form-border-color;
$cb-box-size: 16px;


// Check
$cb-check-background: #656565;
$cb-check-background-hover: #555;
$cb-check-background-disabled: #777;
$cb-check-color: #656565;
$cb-check-color-disabled: $form-disabled-text;
$cb-check-size: 12px;


input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {

  // Hide standard input
  position: absolute;
  left: -9999px;

  // Label
  + label {
    position: relative;
    padding-left: $cb-label-padding-left;
    padding-top: 2px;

    // Box
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: $cb-box-size;
      height: $cb-box-size;
      border: 1px solid $cb-box-border;
      background: $cb-box-background;
      border-radius: $form-border-radius;
      @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 2px);
    }

    // Hover
    &:hover {

      &:before {
        background-color: $cb-box-background-hover;
      }

      &:after {
        background-color: $cb-check-background-hover;
      }

    }


    // Check
    &:after {
      content: '';
      width: $cb-check-size;
      height: $cb-check-size;
      background: $cb-check-color;;
      //content: '\2713';
      //color: $cb-check-color;

      position: absolute;
      top: 2px;
      left: 2px;
      line-height: 1.2;

      border-radius: $form-border-radius;
    }

  }


  // Focus
  &:focus {

    + label {

      &:before {
        background-color:$cb-box-background-hover;
      }

      &:after {
        background-color: $cb-check-background-hover;
      }
    }

  }


}



// Not checked
input[type="checkbox"]:not(:checked) + label:after {
  display: none;
}

// Checked
input[type="checkbox"]:checked + label:after {
  display: block;
}

// Disabled
input[type="checkbox"][disabled]:not(:checked),
input[type="checkbox"][disabled]:checked {

  + label {
    color: $cb-label-disabled;

    &:before {
      background-color: $cb-box-background-disabled;
    }

    &:after {
      color: $cb-check-color-disabled;
      background-color: $cb-check-background-disabled;
    }
  }

}


/*doc
---
title: Checkbox à droite
name: checkbox-2
category: Formulaires
---
```html_example
<input type="checkbox" id="cb-right-1" name="cb-right" value="" checked>
<label for="cb-right-1" class="checkbox-right">Checkbox à droite</label>

<input type="checkbox" id="cb-right-2" name="cb-right" value="">
<label for="cb-right-2" class="checkbox-right">Checkbox à droite</label>
```
*/

input[type="checkbox"]:not(:checked) + label.checkbox-right,
input[type="checkbox"]:checked + label.checkbox-right {
  padding-left: 0;
  padding-right: $cb-label-padding-left;

  // Box
  &:before {
    left: auto;
    right: 0;
  }

  // Check
  &:after {
    left: auto;
    right: 2px;
  }

}



/*doc
---
title: Checkbox sans label visible
name: checkbox-3
category: Formulaires
---
```html_example
<input type="checkbox" id="cb-no-label-1" name="cb-no-label-1" value="3" checked>
<label for="cb-no-label-1" class="label-hidden"><span>Label masqué</span></label>

<input type="checkbox" id="cb-no-label-2" name="cb-no-label-2" value="3">
<label for="cb-no-label-2" class="label-hidden"><span>Label masqué</span></label>
```
*/

input[type="checkbox"]:not(:checked) + label.label-hidden,
input[type="checkbox"]:checked + label.label-hidden {
  margin-right: 0;

  span {
    @extend .visually-hidden;
  }

}





/* =============================================================================
   Radio
============================================================================= */

/*doc
---
title: Radio
name: form-radio
category: Formulaires
---
```html_example
<input type="radio" id="rad-1" name="rad" value="">
<label for="rad-1">Option 1</label>

<input type="radio" id="rad-2" name="rad" value="" checked>
<label for="rad-2">Option 2</label>

<input type="radio" id="rad-3" name="rad-3" value="" checked disabled>
<label for="rad-3">Désactivée</label>
```

Compatibilité : IE9+ (affichage standard pour <= IE8)

*/

input[type="radio"]:not(:checked),
input[type="radio"]:checked {

  // Hide standard input
  position: absolute;
  left: -9999px;

  // Label
  + label {
    position: relative;
    padding-left: $cb-label-padding-left;
    padding-top: 2px;

    // Box
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: $cb-box-size;
      height: $cb-box-size;
      border: 1px solid $cb-box-border;
      background: $cb-box-background;
      border-radius: 50%;
      @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 2px);
    }

    // Hover
    &:hover {

      &:before {
        background-color: $cb-box-background-hover;
      }

      &:after {
        background-color: $cb-check-background-hover;
      }

    }


    // Check
    &:after {
      content: '';
      position: absolute;
      width: $cb-check-size;
      height: $cb-check-size;
      top: 2px;
      left: 2px;
      color: $cb-check-color;
      background: $cb-check-background;
      border-radius: 50%;
    }

  }


  // Focus
  &:focus {

    + label {

      &:before {
        background-color:$cb-box-background-hover;
      }

      &:after {
        background-color: $cb-check-background-hover;
      }
    }

  }


}



// Not checked
input[type="radio"]:not(:checked) + label:after {
  display: none;
}

// Checked
input[type="radio"]:checked + label:after {
  display: block;
}

// Disabled
input[type="radio"][disabled]:not(:checked),
input[type="radio"][disabled]:checked {

  + label {
    color: $cb-label-disabled;

    &:before {
      background-color: $cb-box-background-disabled;
    }

    &:after {
      color: $cb-check-color-disabled;
      background-color: $cb-check-background-disabled;
    }
  }

}
