<!DOCTYPE html>
<!--[if lte IE 7]>    <html lang="fr" class="ie7 lte-ie8"><![endif]-->
<!--[if IE 8]>        <html lang="fr" class="ie8 lte-ie8"><![endif]-->
<!--[if IE 9]>        <html lang="fr" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->

  <title>Responsive images</title>

</head>

<body>

  <h1>Responsive images</h1>

  <picture>
    <source media="(max-width: 480px)" srcset="300.jpg">
    <source media="(max-width: 767px)" srcset="470.jpg">
    <source media="(max-width: 1024px)" srcset="800.jpg">
    <img src="1000.jpg" alt="Le chat">
  </picture>

</body>
</html>
