/* =============================================================================
   _basic.scss
============================================================================= */

body {
  font: #{em(12px, 16px)}/$base-line-height $font;
  color: $text-color;
  background: #fff;
  margin: 0;
}




/* -----------------------------------------------------------------------------
   Headings
----------------------------------------------------------------------------- */

.page-title {}
.page-subtitle {}

.section-title {}
.subsection-title {}

.block-title {}




/* -----------------------------------------------------------------------------
   Styles
----------------------------------------------------------------------------- */

// %placeholder {}