// -----------------------------------------------------------------------------
// Forms layout
// -----------------------------------------------------------------------------

/// Form row spacing
///
/// @group form
///
///
/// @example scss
/// div {
///   @include form-row;
/// }
@mixin form-row {
  position: relative;
  clear: left;
  margin-bottom: 15px;
}



/// Label above
///
/// @group form
///
///
/// @example scss
/// label {
///   @include label-block;
/// }
@mixin label-block {
  display: block;
  float: none;
  text-align: left;
  width: auto;
}


