// -----------------------------------------------------------------------------
// Checkbox
// -----------------------------------------------------------------------------

$cb-styles: (
  'box-bg': #fff,
  'box-bg-hover': #ddd,
  'box-border': 1px solid #ccc,
  'box-size': 16px,
  'box-radius': 0,
  'box-shadow': none,

  'check-bg': $brand,
  'check-bg-hover': darken($brand, 5%),
  'check-color': $brand,
  'check-size': 12px,
  'check-top': 2px,
  'check-left': 2px,

  'label-padding-left': 20px,
  'label-padding-top': 2px
);



/// Checkbox theme
///
/// @group theme
@mixin checkbox($styles: $cb-styles) {

  &:not(:checked),
  &:checked {

    // Hide standard input
    position: absolute;
    left: -9999px;

    // Label
    + label {
      position: relative;
      padding-left: map-get($styles, 'label-padding-left');
      padding-top: map-get($styles, 'label-padding-top');

      // Box
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: map-get($styles, 'box-size');
        height: map-get($styles, 'box-size');
        border: map-get($styles, 'box-border');
        background: map-get($styles, 'box-bg');
        border-radius: map-get($styles, 'box-radius');
        box-shadow: map-get($styles, 'box-shadow');
      }

      // Hover
      &:hover {

        &:before {
          background-color: map-get($styles, 'box-bg-hover');
        }

        &:after {
          background-color: map-get($styles, 'check-bg-hover');
        }

      }


      // Check
      &:after {
        content: '';
        width: map-get($styles, 'check-size');
        height: map-get($styles, 'check-size');
        background: map-get($styles, 'check-color');
        //content: '\2713';
        //color: map-get($styles, '')check-color;

        position: absolute;
        top: map-get($styles, 'check-top');
        left: map-get($styles, 'check-left');
        line-height: 1.2;

        border-radius: map-get($styles, 'box-radius');
      }

    }


    // Focus
    &:focus {

      + label {

        &:before {
          background-color: map-get($styles, 'box-bg-hover');
        }

        &:after {
          background-color: map-get($styles, 'check-bg-hover');
        }
      }

    }

  }



  // Not checked
  &:not(:checked) + label:after {
    display: none;
  }


  // Checked
  &:checked + label:after {
    display: block;
  }



  // Disabled
  &[disabled]:not(:checked),
  &[disabled]:checked {

    + label {
      color: map-get($styles, 'label-disabled');

      &:before {
        background-color: map-get($styles, 'box-bg-disabled');
      }

      &:after {
        color: map-get($styles, 'check-color-disabled');
        background-color: map-get($styles, 'check-bg-disabled');
      }
    }

  }


  // Checkbox à droite
  &:not(:checked) + label.checkbox-right,
  &:checked + label.checkbox-right {
    padding-left: 0;
    padding-right: map-get($styles, 'label-padding-left');

    // Box
    &:before {
      left: auto;
      right: 0;
    }

    // Check
    &:after {
      left: auto;
      right: 2px;
    }

  }



  // Checkbox sans label visible
  &:not(:checked) + label.label-hidden,
  &:checked + label.label-hidden {
    margin-right: 0;

    span {
      @include hide-text;
    }

  }


} // /@mixin checkbox


