/* =============================================================================
   Alignments
============================================================================= */

/*doc
---
title: Alignements
name: 1-align
category: Alignements
---
```html_example
<div class="sg-block align-left">Texte aligné à gauche</div>
<div class="sg-block align-right">texte aligné à droite</div>
<div class="sg-block align-center">Texte centré</div>

<div class="sg-block align-start">Flottant à gauche</div>
<div class="sg-block align-end">Flottant à droite</div>
<div class="sg-block align-clear">Clear</div>
```
*/

.align-left   { text-align: left !important; }
.align-right  { text-align: right !important; }
.align-center { text-align: center !important; }

.align-start { float: left; }
.align-end   { float: right; }
.align-clear { clear: both; }



/*doc
---
title: Alignements verticaux
name: 2-align
category: Alignements
---
```html_example
<div class="sg-block valign-top" style="display: inline-block; height: 40px;">Haut</div>
<div class="sg-block valign-middle" style="display: inline-block; height: 80px;">Centré</div>
<div class="sg-block valign-bottom" style="display: inline-block; height: 40px;">Bas</div>
<div class="sg-block valign-middle" style="display: inline-block; height: 40px;">Centré</div>
```
*/

.valign-top    { vertical-align: top !important; }
.valign-middle { vertical-align: middle !important; }
.valign-bottom { vertical-align: bottom !important; }

