// =============================================================================
// Sprites configuration
// =============================================================================

// Compass spriting configuration :
// http://compass-style.org/help/tutorials/spriting/

// Sprite map config
$sprites-sprite-base-class: '.sp';
$sprites-sprite-dimensions: true;
$sprites-layout: 'smart'; // smart | vertical
$sprites-sort-by: 'width';
//$sprites-spacing: 4px; // Avoid sprite overflow's bug (in vertical mode)


// Get sprites
@import "sprites/*.png";
@include all-sprites-sprites;


// Usage for "icon-plus.png"
//
// - Generated class : ".sprites-icon-plus"
//
// .btn-icon-plus {
//   @include sprites-sprite('icon-plus');
//   width: sprites-sprite-width('icon-plus');
// }



// -----------------------------------------------------------------------------
// Sprites Mixins
// -----------------------------------------------------------------------------

/// Align a sprite in the middle of his container
///
/// @param {String} $sprite-name - Sprite's name
///
/// @example scss - Usage
/// .foo {
///   @include spriteAlignMiddle('mail');
/// }
@mixin spriteAlignMiddle($sprite-name) {
  position: absolute;
  @include sprites-sprite($sprite-name);

  $x-offset: sprites-sprite-width($sprite-name)/2;
  $y-offset: sprites-sprite-height($sprite-name)/2;

  left: calc(50% - #{$x-offset});
  top: calc(50% - #{$y-offset});
}



/// Align a sprite in the middle of his "virtual" container
///
/// @param {String} $sprite-name - Sprite's name
/// @param {Length} $x-offset - Horizontal offset (half of the virtual container)
/// @param {Length} $y-offset - Vertical offset (half of the virtual container)
///
/// @example scss - Usage
/// .foo {
///   @include spriteAlign('mail', 40, 40);
/// }
@mixin spriteAlign($sprite-name, $x-offset, $y-offset, $direction: 'right') {
  @include sprites-sprite($sprite-name);
  position: absolute;
  margin: 0 auto;

  $h-offset: $x-offset - sprites-sprite-width($sprite-name)/2;

  @if $direction == "right" {
    right: $h-offset;
  }
  @else {
    left: $h-offset;
  }

  top: $y-offset - sprites-sprite-height($sprite-name)/2;
}



/// Display a sprite for x2 dpi resolutions (retina)
///
/// @param {String} $sprite-name - Sprite's name
///
/// @example scss - Usage
/// .foo {
///   @include spriteHD('foo');
/// }
@mixin spriteHD($sprite-name) {
  background-image: sprite-url($sprites-sprites);
  width: sprites-sprite-width($sprite-name) / 2;
  height: sprites-sprite-height($sprite-name) / 2;

  $pos: sprite-position($sprites-sprites, $sprite-name);
  background-position: nth($pos, 1)/2 nth($pos, 2)/2;
  background-repeat: no-repeat;

  background-size: ceil(image-width(sprite-path($sprites-sprites)))/2 auto;
}


