/* =============================================================================
   Block
============================================================================= */

/*doc
---
title: Bloc blanc
name: block-default
category: Blocs
---
```html_example
<div class="block-default">
  Lorem ipsum
</div><!--/block-default-->
```
*/

%block-default {
	margin: 0;
}


.block-default {
	@extend %block-default;
}
