/* =============================================================================
   Button
============================================================================= */

%btn-default {
  @include reset-box-model;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
  @include transition(all 300ms);

  @include hover {
    text-decoration: none;
  }

}


/*doc
---
title: Bleu
name: btn-blue
category: Boutons
---
```html_example
<a href="#" class="btn">Link</a>
<input type="submit" value="Submit" class="btn">
<button type="button" class="btn">Button</button>
```
*/

.btn {
  //@extend %btn-default;

  @include hover {

  }
}



/*doc
---
title: Vert
name: btn-green
category: Boutons
---
```html_example
<a href="#" class="btn-green">Link</a>
<input type="submit" value="Submit" class="btn-green">
<button type="button" class="btn-green">Button</button>
```
*/

.btn-blue {

  @include hover {

  }
}





/* -----------------------------------------------------------------------------
   Helpers
----------------------------------------------------------------------------- */

/*doc
---
title: Large
name: btn-helper-wide
category: Boutons
---
```html_example
<a href="#" class="btn btn-wide">Button</a>
```
*/

@mixin btn-wide {
  display: block;
  width: 100%;
  float: none;
}

.btn-wide {
  @include btn-wide;
}



/*doc
---
title: Grand
name: btn-helper-big
category: Boutons
---
```html_example
<a href="#" class="btn btn-bigger">Button</a>
```
*/

@mixin btn-bigger {
 padding: 15px 25px;
}

.btn-bigger {
  @include btn-bigger;
}



/*doc
---
title: Petit
name: btn-helper-petit
category: Boutons
---
```html_example
<a href="#" class="btn btn-small">Button</a>
```
*/

@mixin btn-small {
  padding: 2px 5px;
  font-size: em(12px);
}

.btn-small {
  @include btn-small;
}

