/* =============================================================================
   Links
============================================================================= */

// Links underlined on hover/focus/active states
@mixin underlineOnHover {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active { text-decoration: underline; }
}


// Links underlined
@mixin underline {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active { text-decoration: none; }
}


// Add hover/Focus style
@mixin hover() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Add focus style
@mixin focus() {
  &:focus,
  &:active {
    @content;
  }
}



/* -----------------------------------------------------------------------------
   Default link's style
----------------------------------------------------------------------------- */

a {
  color: $base-color;
  @include underlineOnHover;

  &:focus img {
    outline: 1px dashed $brand;
  }
}



/* -----------------------------------------------------------------------------
   External link
----------------------------------------------------------------------------- */

/*doc
---
title: Lien externe
name: external
category: Liens
---
```html_example
<a href="#" class="external-link">Lorem ipsum</a>
```
*/

a[target="_blank"],
.external-link {

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    //@include sprites-sprite("external");
  }

}



/* -----------------------------------------------------------------------------
   More
----------------------------------------------------------------------------- */

/*doc
---
title: En savoir plus
name: more
category: Liens
---
```html_example
<div class="more-wrapper">
  <a href="#" class="more">Lorem ipsum</a>
</div>
```
*/

.more-wrapper {
  clear: both;
  padding: 10px 0;
}

  .more {
    @include underline;
    //background: image-url('arrow-e-more.png') right center no-repeat;
    font-weight: bold;
    padding: 2px 25px 2px 0;
    border: none;
  }

